/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-elite {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-elite-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-elite-2x {
  font-size: 2em;
}
.fa-elite-3x {
  font-size: 3em;
}
.fa-elite-4x {
  font-size: 4em;
}
.fa-elite-5x {
  font-size: 5em;
}
.fa-elite-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.fa-elite-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.fa-elite-ul > li {
  position: relative;
}
.fa-elite-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.fa-elite-li.fa-elite-lg {
  left: -1.8571428571428572em;
}
.fa-elite-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-elite-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.fa-elite-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-elite-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-elite-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-elite-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-elite-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.fa-elite-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-elite-stack-1x,
.fa-elite-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-elite-stack-1x {
  line-height: inherit;
}
.fa-elite-stack-2x {
  font-size: 2em;
}
.fa-elite-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-elite-glass:before {
  content: "\f000";
}
.fa-elite-music:before {
  content: "\f001";
}
.fa-elite-search:before {
  content: "\f002";
}
.fa-elite-envelope-o:before {
  content: "\f003";
}
.fa-elite-heart:before {
  content: "\f004";
}
.fa-elite-star:before {
  content: "\f005";
}
.fa-elite-star-o:before {
  content: "\f006";
}
.fa-elite-user:before {
  content: "\f007";
}
.fa-elite-film:before {
  content: "\f008";
}
.fa-elite-th-large:before {
  content: "\f009";
  position: absolute;
  padding-left: 8px;
  padding-right: 9px;
  padding-bottom: 8px;
  padding-top: 9px;
}
.fa-elite-th:before {
  content: "\f00a";
}
.fa-elite-th-list:before {
  content: "\f00b";
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 3px;

}
.fa-elite-check:before {
  content: "\f00c";
  position: absolute;
  padding-left: 13px;
  padding-top: 5px;
  left: 0px;
  font-size: 13px !important;
}
.fa-elite-times:before {
  content: "\f00d";
}
.fa-elite-search-plus:before {
  content: "\f00e";
}
.fa-elite-search-minus:before {
  content: "\f010";
}
.fa-elite-power-off:before {
  content: "\f011";
}
.fa-elite-signal:before {
  content: "\f012";
}
.fa-elite-trash-o:before {
  content: "\f014";
}
.fa-elite-home:before {
  content: "\f015";
}
.fa-elite-file-o:before {
  content: "\f016";
}
.fa-elite-clock-o:before {
  content: "\f017";
}
.fa-elite-road:before {
  content: "\f018";
}
.fa-elite-download:before {
  content: "\f019";
}
.fa-elite-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-elite-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-elite-inbox:before {
  content: "\f01c";
}
.fa-elite-play-circle-o:before {
  content: "\f01d";
  position: absolute;
  color: #FCFCFC;
  font-size: 94px;
}
.fa-elite-rotate-right:before,
.fa-elite-repeat:before {
  content: "\f01e";
}
.fa-elite-gear:before,
.fa-elite-cog:before {
  content: "\f013";
}
.fa-elite-refresh:before {
  content: "\f021";
}
.fa-elite-list-alt:before {
  content: "\f022";
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 3px;
}
.fa-elite-lock:before {
  content: "\f023";
}
.fa-elite-flag:before {
  content: "\f024";
}
.fa-elite-headphones:before {
  content: "\f025";
}
.fa-elite-volume-off:before {
  content: "\f026";
}
.fa-elite-volume-down:before {
  content: "\f027";
}
.fa-elite-volume-up:before {
  content: "\f028";
}
.fa-elite-qrcode:before {
  content: "\f029";
}
.fa-elite-barcode:before {
  content: "\f02a";
}
.fa-elite-tag:before {
  content: "\f02b";
}
.fa-elite-tags:before {
  content: "\f02c";
}
.fa-elite-book:before {
  content: "\f02d";
}
.fa-elite-bookmark:before {
  content: "\f02e";
}
.fa-elite-print:before {
  content: "\f02f";
}
.fa-elite-camera:before {
  content: "\f030";
}
.fa-elite-font:before {
  content: "\f031";
}
.fa-elite-bold:before {
  content: "\f032";
}
.fa-elite-italic:before {
  content: "\f033";
}
.fa-elite-text-height:before {
  content: "\f034";
}
.fa-elite-text-width:before {
  content: "\f035";
}
.fa-elite-align-left:before {
  content: "\f036";
}
.fa-elite-align-center:before {
  content: "\f037";
}
.fa-elite-align-right:before {
  content: "\f038";
}
.fa-elite-align-justify:before {
  content: "\f039";
}
.fa-elite-list:before {
  content: "\f03a";
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 3px;

}
.fa-elite-dedent:before,
.fa-elite-outdent:before {
  content: "\f03b";
  position:absolute;
  padding-left: 8px; 
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: normal;
  left: 5px;
}
.fa-elite-indent:before {
  content: "\f03c";
  position: absolute;
  padding-left: 8px; 
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: normal;
  left: 5px;
}
.fa-elite-video-camera:before {
  content: "\f03d";
}
.fa-elite-picture-o:before {
  content: "\f03e";
}
.fa-elite-pencil:before {
  content: "\f040";
}
.fa-elite-map-marker:before {
  content: "\f041";
}
.fa-elite-adjust:before {
  content: "\f042";
}
.fa-elite-tint:before {
  content: "\f043";
}
.fa-elite-edit:before,
.fa-elite-pencil-square-o:before {
  content: "\f044";
}
.fa-elite-share-square-o:before {
  content: "\f045";
	position: absolute;    
    padding-left: 9px;    
    padding-right: 9px;    
	padding-bottom: 8px;    
    padding-top: 9px;  
	line-height: normal;
	left: 5px;	
}
.fa-elite-check-square-o:before {
  content: "\f046";
}
.fa-elite-arrows:before {
  content: "\f047";
}
.fa-elite-step-backward:before {
  content: "\f048";
    position: absolute;
	padding-left: 16px;
	padding-right: 7px;
	padding-bottom: 17px;
	padding-top: 17px;
	top:0 !important;
}
.fa-elite-backward:before {
  content: "\f04a";
    position: absolute;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 17px;
	padding-top: 17px;
	top:0 !important;
}
.fa-elite-random:before {
  content: "\f074";
    position: absolute;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 17px;
	padding-top: 17px;
	top:0 !important;
}
.fa-elite-forward:before {
  content: "\f04e";
	position: absolute;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 17px;
	padding-top: 17px;
	top:0 !important;
}
.fa-elite-step-forward:before {
  content: "\f051";
    position: absolute;
	padding-left: 4px;
	padding-right: 7px;
	padding-bottom: 17px;
	padding-top: 17px;
	top:0 !important;
}
.fa-elite-fast-backward:before {
  content: "\f049";
    position: absolute;
    right: 269px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.fa-elite-play:before {
    content: "\f04b";
    position: absolute;
    left: 0px;
    padding-left: 18px;
    padding-right: 17px;
    padding-bottom: 17px;
    padding-top: 17px;
}
.fa-elite-playScreen:before {
    content: "\f04b";
    position: absolute;
	color: #ffffff;
	font-size: 30px;
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 21px;
	padding-top: 21px;
	background: rgba(0, 0, 0, 0.7);
	line-height: normal;
	left: 0px;	
}
.fa-elite-playAD:before {
  content: "\f04b";
    position: absolute;
    top: 7px;
    right: 9px;
    color: rgb(255, 255, 255);
}
.fa-elite-pause:before {
  content: "\f04c";
    position: absolute;
    left: 0px;
	padding-left: 17px;
	padding-right: 16px;
	padding-bottom: 17px;
	padding-top: 17px;
}
.fa-elite-pauseAD:before {
  content: "\f04c";
    position: absolute;
    top: 7px;
    right: 9px;
    color: rgb(255, 255, 255);
}
.fa-elite-stop:before {
  content: "\f04d";
}
.fa-elite-fast-forward:before {
  content: "\f050";
}
.fa-elite-step-forward-ad:before {
  content: "\f051";
    position: absolute;
	top: 0;
	right: 17px;
	color: #fff;
	padding-top: 32px;
	padding-bottom: 32px;
}
.fa-elite-eject:before {
  content: "\f052";
}
.fa-elite-chevron-left:before {
  content: "\f053";
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.fa-elite-chevron-right:before {
  content: "\f054";
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.fa-elite-plus-circle:before {
  content: "\f055";
}
.fa-elite-minus-circle:before {
  content: "\f056";
}
.fa-elite-times-circle:before {
  content: "\f057";
}
.fa-elite-check-circle:before {
  content: "\f058";
}
.fa-elite-question-circle:before {
  content: "\f059";
}
.fa-elite-info-circle:before {
  content: "\f05a";
    position: absolute;
    right: 239px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.fa-elite-crosshairs:before {
  content: "\f05b";
}
.fa-elite-times-circle-o:before {
  content: "\f05c";
}
.fa-elite-check-circle-o:before {
  content: "\f05d";
}
.fa-elite-ban:before {
  content: "\f05e";
}
.fa-elite-arrow-left:before {
  content: "\f060";
}
.fa-elite-arrow-right:before {
  content: "\f061";
}
.fa-elite-arrow-up:before {
  content: "\f062";
}
.fa-elite-arrow-down:before {
  content: "\f063";
}
.fa-elite-mail-forward:before,
.fa-elite-share:before {
  content: "\f064";
}
.fa-elite-share-alt:before {
    content: "\f1e0";
    position: absolute;    
    padding-left: 8px;    
    padding-right: 9px;    
	padding-bottom: 8px;    
    padding-top: 9px;    
}
.fa-elite-expand:before {
  content: "\f065";
}
.fa-elite-compress:before {
  content: "\f066";
}
.fa-elite-expandAD:before {
  content: "\f065";
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
  padding-top: 10px;
  color: #ffffff;
  cursor: pointer;
}
.fa-elite-compressAD:before {
  content: "\f066";
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
  padding-top: 10px;
  color: #ffffff;
  cursor: pointer;
}
.fa-elite-plus:before {
  content: "\f067";
}
.fa-elite-minus:before {
  content: "\f068";
}
.fa-elite-asterisk:before {
  content: "\f069";
}
.fa-elite-exclamation-circle:before {
  content: "\f06a";
}
.fa-elite-gift:before {
  content: "\f06b";
}
.fa-elite-leaf:before {
  content: "\f06c";
}
.fa-elite-fire:before {
  content: "\f06d";
}
.fa-elite-eye:before {
  content: "\f06e";
}
.fa-elite-eye-slash:before {
  content: "\f070";
}
.fa-elite-warning:before,
.fa-elite-exclamation-triangle:before {
  content: "\f071";
}
.fa-elite-plane:before {
  content: "\f072";
}
.fa-elite-calendar:before {
  content: "\f073";
}
.fa-elite-comment:before {
  content: "\f075";
}
.fa-elite-magnet:before {
  content: "\f076";
}
.fa-elite-chevron-up:before {
  content: "\f077";
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 5px;
}
.fa-elite-chevron-down:before {
  content: "\f078";
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 5px;
}
.fa-elite-retweet:before {
  content: "\f079";
    position:absolute;
	right: 190px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 17px;
	padding-top: 17px;
}
.fa-elite-shopping-cart:before {
  content: "\f07a";
}
.fa-elite-folder:before {
  content: "\f07b";
}
.fa-elite-folder-open:before {
  content: "\f07c";
}
.fa-elite-arrows-v:before {
  content: "\f07d";
}
.fa-elite-arrows-h:before {
  content: "\f07e";
}
.fa-elite-bar-chart-o:before {
  content: "\f080";
}
.fa-elite-twitter-square:before {
  content: "\f081";
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    padding-top: 8px;
	line-height: normal;
  left: 5px;
}
.fa-elite-facebook-square:before {
  content: "\f082";
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    padding-top: 8px;
	line-height: normal;
}
.fa-elite-camera-retro:before {
  content: "\f083";
}
.fa-elite-key:before {
  content: "\f084";
}
.fa-elite-comments:before {
  content: "\f086";
}
.fa-elite-thumbs-o-up:before {
  content: "\f087";
}
.fa-elite-thumbs-o-down:before {
  content: "\f088";
}
.fa-elite-star-half:before {
  content: "\f089";
}
.fa-elite-heart-o:before {
  content: "\f08a";
}
.fa-elite-sign-out:before {
  content: "\f08b";
}
.fa-elite-linkedin-square:before {
  content: "\f08c";
}
.fa-elite-thumb-tack:before {
  content: "\f08d";
}
.fa-elite-external-link:before {
  content: "\f08e";
}
.fa-elite-sign-in:before {
  content: "\f090";
}
.fa-elite-trophy:before {
  content: "\f091";
}
.fa-elite-github-square:before {
  content: "\f092";
}
.fa-elite-upload:before {
  content: "\f093";
}
.fa-elite-lemon-o:before {
  content: "\f094";
}
.fa-elite-phone:before {
  content: "\f095";
}
.fa-elite-square-o:before {
  content: "\f096";
}
.fa-elite-bookmark-o:before {
  content: "\f097";
}
.fa-elite-phone-square:before {
  content: "\f098";
}
.fa-elite-twitter:before {
  content: "\f099";
  position: absolute;
  padding-left: 9px;  
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;  
}
.fa-elite-facebook:before {
  content: "\f09a";
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 9px;
}
.fa-elite-github:before {
  content: "\f09b";
}
.fa-elite-unlock:before {
  content: "\f09c";
}
.fa-elite-credit-card:before {
  content: "\f09d";
}
.fa-elite-rss:before {
  content: "\f09e";
}
.fa-elite-hdd-o:before {
  content: "\f0a0";
}
.fa-elite-bullhorn:before {
  content: "\f0a1";
}
.fa-elite-bell:before {
  content: "\f0f3";
}
.fa-elite-certificate:before {
  content: "\f0a3";
}
.fa-elite-hand-o-right:before {
  content: "\f0a4";
}
.fa-elite-hand-o-left:before {
  content: "\f0a5";
}
.fa-elite-hand-o-up:before {
  content: "\f0a6";
}
.fa-elite-hand-o-down:before {
  content: "\f0a7";
}
.fa-elite-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-elite-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-elite-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-elite-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-elite-globe:before {
  content: "\f0ac";
}
.fa-elite-wrench:before {
  content: "\f0ad";
}
.fa-elite-tasks:before {
  content: "\f0ae";
}
.fa-elite-filter:before {
  content: "\f0b0";
}
.fa-elite-briefcase:before {
  content: "\f0b1";
}
.fa-elite-arrows-alt:before {
  content: "\f0b2";
  position: absolute;
  right: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 17px;
	padding-top: 17px;
}
.fa-elite-group:before,
.fa-elite-users:before {
  content: "\f0c0";
}
.fa-elite-chain:before,
.fa-elite-link:before {
  content: "\f0c1";
  position: absolute;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: normal;
  left: 5px;
}
.fa-elite-cloud:before {
  content: "\f0c2";
}
.fa-elite-flask:before {
  content: "\f0c3";
}
.fa-elite-cut:before,
.fa-elite-scissors:before {
  content: "\f0c4";
}
.fa-elite-copy:before,
.fa-elite-files-o:before {
  content: "\f0c5";
}
.fa-elite-paperclip:before {
  content: "\f0c6";
}
.fa-elite-save:before,
.fa-elite-floppy-o:before {
  content: "\f0c7";
}
.fa-elite-square:before {
  content: "\f0c8";
}
.fa-elite-bars:before {
  content: "\f0c9";
  position: absolute;
  padding-left: 9px; 
  padding-right: 9px;
  padding-bottom: 8px;
  padding-top: 9px;
}
.fa-elite-list-ul:before {
  content: "\f0ca";
  position: absolute;  
  padding-left: 8px;  
  padding-right: 8px;  padding-bottom: 8px;  padding-top: 8px;  
}
.fa-elite-list-ol:before {
  content: "\f0cb";
}
.fa-elite-strikethrough:before {
  content: "\f0cc";
}
.fa-elite-underline:before {
  content: "\f0cd";
}
.fa-elite-table:before {
  content: "\f0ce";
}
.fa-elite-magic:before {
  content: "\f0d0";
}
.fa-elite-truck:before {
  content: "\f0d1";
}
.fa-elite-pinterest:before {
  content: "\f0d2";
}
.fa-elite-pinterest-square:before {
  content: "\f0d3";
}
.fa-elite-google-plus-square:before {
  content: "\f0d4";
}
.fa-elite-google-plus:before {
  content: "\f0d5";
  position: absolute;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 7px;
  padding-top: 9px;
}
.fa-elite-money:before {
  content: "\f0d6";
}
.fa-elite-caret-down:before {
  content: "\f0d7";
}
.fa-elite-caret-up:before {
  content: "\f0d8";
}
.fa-elite-caret-left:before {
  content: "\f0d9";
}
.fa-elite-caret-right:before {
  content: "\f0da";
}
.fa-elite-columns:before {
  content: "\f0db";
}
.fa-elite-unsorted:before,
.fa-elite-sort:before {
  content: "\f0dc";
}
.fa-elite-sort-down:before,
.fa-elite-sort-asc:before {
  content: "\f0dd";
    position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 15px;
  padding-top: 11px;
}
.fa-elite-sort-up:before,
.fa-elite-sort-desc:before {
  content: "\f0de";
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 11px;
  padding-top: 15px;
}
.fa-elite-envelope:before {
  content: "\f0e0";
  position: absolute;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.fa-elite-linkedin:before {
  content: "\f0e1";
}
.fa-elite-rotate-left:before,
.fa-elite-undo:before {
  content: "\f0e2";
}
.fa-elite-legal:before,
.fa-elite-gavel:before {
  content: "\f0e3";
}
.fa-elite-dashboard:before,
.fa-elite-tachometer:before {
  content: "\f0e4";
}
.fa-elite-comment-o:before {
  content: "\f0e5";
}
.fa-elite-comments-o:before {
  content: "\f0e6";
}
.fa-elite-flash:before,
.fa-elite-bolt:before {
  content: "\f0e7";
}
.fa-elite-sitemap:before {
  content: "\f0e8";
}
.fa-elite-umbrella:before {
  content: "\f0e9";
}
.fa-elite-paste:before,
.fa-elite-clipboard:before {
  content: "\f0ea";
}
.fa-elite-lightbulb-o:before {
  content: "\f0eb";
}
.fa-elite-exchange:before {
  content: "\f0ec";
}
.fa-elite-cloud-download:before {
  content: "\f0ed";
}
.fa-elite-cloud-upload:before {
  content: "\f0ee";
}
.fa-elite-user-md:before {
  content: "\f0f0";
}
.fa-elite-stethoscope:before {
  content: "\f0f1";
}
.fa-elite-suitcase:before {
  content: "\f0f2";
}
.fa-elite-bell-o:before {
  content: "\f0a2";
}
.fa-elite-coffee:before {
  content: "\f0f4";
}
.fa-elite-cutlery:before {
  content: "\f0f5";
}
.fa-elite-file-text-o:before {
  content: "\f0f6";
}
.fa-elite-building-o:before {
  content: "\f0f7";
}
.fa-elite-hospital-o:before {
  content: "\f0f8";
}
.fa-elite-ambulance:before {
  content: "\f0f9";
}
.fa-elite-medkit:before {
  content: "\f0fa";
}
.fa-elite-fighter-jet:before {
  content: "\f0fb";
}
.fa-elite-beer:before {
  content: "\f0fc";
}
.fa-elite-h-square:before {
  content: "\f0fd";
}
.fa-elite-plus-square:before {
  content: "\f0fe";
}
.fa-elite-angle-double-left:before {
  content: "\f100";
  position: absolute;      
  padding-left: 14px;      
  padding-right: 19px;      
  padding-bottom: 0px;      
  padding-top: 0px;      
  /* background: #ff0000; */;
}
.fa-elite-angle-double-right:before {
  content: "\f101";
  position: absolute;
    
  padding-left: 18px;
    
  padding-right: 19px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.fa-elite-angle-double-up:before {
  content: "\f102";
  position: absolute;
  padding-left: 2px;
  padding-right: 3px;
  padding-bottom: 15px;
  padding-top: 11px;
}
.fa-elite-angle-double-down:before {
  content: "\f103";
  position: absolute;
  padding-left: 2px;
  padding-right: 3px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.fa-elite-close:before{
  content: "\f00d";
  position: absolute;
  top: 0px !important;
  left: 0px !important;
  padding-left: 10px;
  padding-right: 7px;
  padding-bottom: 8px;
  padding-top: 6px;
  line-height: normal;
}
.fa-elite-angle-left:before {
  content: "\f104";
    
  position: absolute;      
  padding-left: 14px;      
  padding-right: 19px;      
  padding-bottom: 0px;      
  padding-top: 0px;      
}
.fa-elite-angle-right:before {
  content: "\f105";
    position: absolute;
    padding-left: 14px;
    padding-right: 19px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.fa-elite-angle-up:before {
  content: "\f106";
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 15px;
    padding-top: 11px;
}
.fa-elite-angle-down:before {
  content: "\f107";
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 11px;
    padding-top: 15px;
}
.fa-elite-desktop:before {
  content: "\f108";
}
.fa-elite-laptop:before {
  content: "\f109";
}
.fa-elite-tablet:before {
  content: "\f10a";
}
.fa-elite-mobile-phone:before,
.fa-elite-mobile:before {
  content: "\f10b";
}
.fa-elite-circle-o:before {
  content: "\f10c";
}
.fa-elite-quote-left:before {
  content: "\f10d";
}
.fa-elite-quote-right:before {
  content: "\f10e";
}
.fa-elite-spinner:before {
  content: "\f110";
}
.fa-elite-circle:before {
  content: "\f111";
}
.fa-elite-mail-reply:before,
.fa-elite-reply:before {
  content: "\f112";
    position: absolute;
    right: 269px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
	line-height: normal;
  left: 5px;
}
.fa-elite-github-alt:before {
  content: "\f113";
}
.fa-elite-folder-o:before {
  content: "\f114";
}
.fa-elite-folder-open-o:before {
  content: "\f115";
}
.fa-elite-smile-o:before {
  content: "\f118";
}
.fa-elite-frown-o:before {
  content: "\f119";
}
.fa-elite-meh-o:before {
  content: "\f11a";
}
.fa-elite-gamepad:before {
  content: "\f11b";
}
.fa-elite-keyboard-o:before {
  content: "\f11c";
}
.fa-elite-flag-o:before {
  content: "\f11d";
}
.fa-elite-flag-checkered:before {
  content: "\f11e";
}
.fa-elite-terminal:before {
  content: "\f120";
}
.fa-elite-code:before {
  content: "\f121";
  position: absolute;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.fa-elite-reply-all:before {
  content: "\f122";
}
.fa-elite-mail-reply-all:before {
  content: "\f122";
}
.fa-elite-star-half-empty:before,
.fa-elite-star-half-full:before,
.fa-elite-star-half-o:before {
  content: "\f123";
}
.fa-elite-location-arrow:before {
  content: "\f124";
}
.fa-elite-crop:before {
  content: "\f125";
}
.fa-elite-code-fork:before {
  content: "\f126";
}
.fa-elite-unlink:before,
.fa-elite-chain-broken:before {
  content: "\f127";
}
.fa-elite-question:before {
  content: "\f128";
}
.fa-elite-info:before {
    content: "\f129";
	position: absolute;
	padding-left: 13px;
	padding-right: 14px;
	padding-bottom: 8px;
	padding-top: 8px;
	line-height: normal;
	left: 5px;
}
}
.fa-elite-exclamation:before {
  content: "\f12a";
}
.fa-elite-superscript:before {
  content: "\f12b";
}
.fa-elite-subscript:before {
  content: "\f12c";
}
.fa-elite-eraser:before {
  content: "\f12d";
}
.fa-elite-puzzle-piece:before {
  content: "\f12e";
}
.fa-elite-microphone:before {
  content: "\f130";
}
.fa-elite-microphone-slash:before {
  content: "\f131";
}
.fa-elite-shield:before {
  content: "\f132";
}
.fa-elite-calendar-o:before {
  content: "\f133";
}
.fa-elite-fire-extinguisher:before {
  content: "\f134";
}
.fa-elite-rocket:before {
  content: "\f135";
}
.fa-elite-maxcdn:before {
  content: "\f136";
}
.fa-elite-chevron-circle-left:before {
  content: "\f137";
}
.fa-elite-chevron-circle-right:before {
  content: "\f138";
}
.fa-elite-chevron-circle-up:before {
  content: "\f139";
}
.fa-elite-chevron-circle-down:before {
  content: "\f13a";
}
.fa-elite-html5:before {
  content: "\f13b";
}
.fa-elite-css3:before {
  content: "\f13c";
}
.fa-elite-anchor:before {
  content: "\f13d";
}
.fa-elite-unlock-alt:before {
  content: "\f13e";
}
.fa-elite-bullseye:before {
  content: "\f140";
}
.fa-elite-ellipsis-h:before {
  content: "\f141";
}
.fa-elite-ellipsis-v:before {
  content: "\f142";
}
.fa-elite-rss-square:before {
  content: "\f143";
}
.fa-elite-play-circle:before {
  content: "\f144";
}
.fa-elite-ticket:before {
  content: "\f145";
}
.fa-elite-minus-square:before {
  content: "\f146";
}
.fa-elite-minus-square-o:before {
  content: "\f147";
}
.fa-elite-level-up:before {
  content: "\f148";
}
.fa-elite-level-down:before {
  content: "\f149";
}
.fa-elite-check-square:before {
  content: "\f14a";
}
.fa-elite-pencil-square:before {
  content: "\f14b";
}
.fa-elite-external-link-square:before {
  content: "\f14c";
}
.fa-elite-share-square:before {
  content: "\f14d";
  position: absolute;    
    padding-left: 8px;    
    padding-right: 9px;    
	padding-bottom: 8px;    
    padding-top: 9px;    
}
.fa-elite-compass:before {
  content: "\f14e";
}
.fa-elite-toggle-down:before,
.fa-elite-caret-square-o-down:before {
  content: "\f150";
}
.fa-elite-toggle-up:before,
.fa-elite-caret-square-o-up:before {
  content: "\f151";
}
.fa-elite-toggle-right:before,
.fa-elite-caret-square-o-right:before {
  content: "\f152";
}
.fa-elite-euro:before,
.fa-elite-eur:before {
  content: "\f153";
}
.fa-elite-gbp:before {
  content: "\f154";
}
.fa-elite-dollar:before,
.fa-elite-usd:before {
  content: "\f155";
}
.fa-elite-rupee:before,
.fa-elite-inr:before {
  content: "\f156";
}
.fa-elite-cny:before,
.fa-elite-rmb:before,
.fa-elite-yen:before,
.fa-elite-jpy:before {
  content: "\f157";
}
.fa-elite-ruble:before,
.fa-elite-rouble:before,
.fa-elite-rub:before {
  content: "\f158";
}
.fa-elite-won:before,
.fa-elite-krw:before {
  content: "\f159";
}
.fa-elite-bitcoin:before,
.fa-elite-btc:before {
  content: "\f15a";
}
.fa-elite-file:before {
  content: "\f15b";
}
.fa-elite-file-text:before {
  content: "\f15c";
}
.fa-elite-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-elite-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-elite-sort-amount-asc:before {
  content: "\f160";
}
.fa-elite-sort-amount-desc:before {
  content: "\f161";
}
.fa-elite-sort-numeric-asc:before {
  content: "\f162";
}
.fa-elite-sort-numeric-desc:before {
  content: "\f163";
}
.fa-elite-thumbs-up:before {
  content: "\f164";
}
.fa-elite-thumbs-down:before {
  content: "\f165";
}
.fa-elite-youtube-square:before {
  content: "\f166";
}
.fa-elite-youtube:before {
  content: "\f167";
}
.fa-elite-xing:before {
  content: "\f168";
}
.fa-elite-xing-square:before {
  content: "\f169";
}
.fa-elite-youtube-play:before {
  content: "\f16a";
  position: absolute;
  color: #ffffff;
  font-size: 94px;
}
.fa-elite-dropbox:before {
  content: "\f16b";
}
.fa-elite-stack-overflow:before {
  content: "\f16c";
}
.fa-elite-instagram:before {
  content: "\f16d";
}
.fa-elite-flickr:before {
  content: "\f16e";
}
.fa-elite-adn:before {
  content: "\f170";
}
.fa-elite-bitbucket:before {
  content: "\f171";
}
.fa-elite-bitbucket-square:before {
  content: "\f172";
}
.fa-elite-tumblr:before {
  content: "\f173";
}
.fa-elite-tumblr-square:before {
  content: "\f174";
}
.fa-elite-long-arrow-down:before {
  content: "\f175";
}
.fa-elite-long-arrow-up:before {
  content: "\f176";
}
.fa-elite-long-arrow-left:before {
  content: "\f177";
}
.fa-elite-long-arrow-right:before {
  content: "\f178";
}
.fa-elite-apple:before {
  content: "\f179";
}
.fa-elite-windows:before {
  content: "\f17a";
}
.fa-elite-android:before {
  content: "\f17b";
}
.fa-elite-linux:before {
  content: "\f17c";
}
.fa-elite-dribbble:before {
  content: "\f17d";
}
.fa-elite-skype:before {
  content: "\f17e";
}
.fa-elite-foursquare:before {
  content: "\f180";
}
.fa-elite-trello:before {
  content: "\f181";
}
.fa-elite-female:before {
  content: "\f182";
}
.fa-elite-male:before {
  content: "\f183";
}
.fa-elite-gittip:before {
  content: "\f184";
}
.fa-elite-sun-o:before {
  content: "\f185";
}
.fa-elite-moon-o:before {
  content: "\f186";
}
.fa-elite-archive:before {
  content: "\f187";
}
.fa-elite-bug:before {
  content: "\f188";
}
.fa-elite-vk:before {
  content: "\f189";
}
.fa-elite-weibo:before {
  content: "\f18a";
}
.fa-elite-renren:before {
  content: "\f18b";
}
.fa-elite-pagelines:before {
  content: "\f18c";
}
.fa-elite-stack-exchange:before {
  content: "\f18d";
}
.fa-elite-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-elite-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-elite-toggle-left:before,
.fa-elite-caret-square-o-left:before {
  content: "\f191";
}
.fa-elite-dot-circle-o:before {
  content: "\f192";
}
.fa-elite-wheelchair:before {
  content: "\f193";
}
.fa-elite-vimeo-square:before {
  content: "\f194";
}
.fa-elite-turkish-lira:before,
.fa-elite-try:before {
  content: "\f195";
}
.fa-elite-plus-square-o:before {
  content: "\f196";
}





