a:hover{ color:#3498db; }
#top-nav a:hover{ background:#3498db; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#3498db; }
#top-social a:hover{ color:#3498db; }

/* #header-container{ background:#3498db; } */
.title-bar span{ background:#3498db url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#3498db url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#3498db }

.searchvideo{ border:5px solid #2d86c1; }

.wp_link_pages a{ background:#3498db; }
.widget-item li a:hover{ color:#3498db; }
.tagcloud a{ background:#3498db; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-blue.png) no-repeat right center; }

#searchsubmit{ background:#3498db; }
#comment-submit{ background:#3498db; }

#reply-title a{ color:#3498db; }
.comment-pagination a{ background:#3498db; }
ul.pagination li a{ background:#3498db; }

.blog-post .readmore{ background:#3498db; }

.footer-container a:hover{ color:#3498db }
.footer-container .widget-item li a:hover{ color:#3498db; }
.footer-container .tagcloud a{ background:#3498db; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#3498db }
.footer-container .comment-widget .comment-text a:hover{ color:#3498db; }

/* Nav Menu */
.nav-container{
	background:#2375ac url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #156296;
	-webkit-box-shadow: 0px 0px 20px #156296;
	box-shadow: 0px 0px 20px #156296;
	}
.sf-menu ul{ background:#3498db; }

/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#2389cd url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#2389cd url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#2389cd url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#2389cd url(../../images/nav-gloss.png) repeat-x top center }

/* Login and Sign up Style */
.user-forms .user-submit{ background:#3498db }