a:hover{ color:#27ae60; }
#top-nav a:hover{ background:#27ae60; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#27ae60; }
#top-social a:hover{ color:#27ae60; }

#header-container{ background:#27ae60; }
.title-bar span{ background:#27ae60 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#27ae60 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#27ae60 }

.searchvideo{ border:5px solid #1a8346; }

.wp_link_pages a{ background:#27ae60; }
.widget-item li a:hover{ color:#27ae60; }
.tagcloud a{ background:#27ae60; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-green.png) no-repeat right center; }

#searchsubmit{ background:#27ae60; }
#comment-submit{ background:#27ae60; }

#reply-title a{ color:#27ae60; }
.comment-pagination a{ background:#27ae60; }
ul.pagination li a{ background:#27ae60; }

.footer-container a:hover{ color:#27ae60 }
.footer-container .widget-item li a:hover{ color:#27ae60; }
.footer-container .tagcloud a{ background:#27ae60; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#27ae60 }
.footer-container .comment-widget .comment-text a:hover{ color:#27ae60; }

.blog-post .readmore{ background:#27ae60; }

/* Nav Menu */
.nav-container{
	background:#1a8346 url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #116836;
	-webkit-box-shadow: 0px 0px 20px #116836;
	box-shadow: 0px 0px 20px #116836;
	}
.sf-menu ul{ background:#1a8346; }

/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#209953 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#209953 url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#209953 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#209953 url(../../images/nav-gloss.png) repeat-x top center }

/* Login and Sign up Style */
.user-forms .user-submit{ background:#27ae60 }