/* When Normal View Hide Responsive View */
.responsive-view{ display:none; }
.js .slicknav_menu{ display:none; }
@media only screen and (min-width: 769px ){
#header-container-wrapper{max-height:75px;}

}
@media only screen and (min-width: 480px) and (max-width: 768px ) {

	/* Show Navigation Menu and Hide Regular Menu */
	.js .slicknav_menu{ display:block; }
	#top-nav, .sf-menu{ display:none !important; }
	
	/* Main Grids */
	.container{ width:80%; margin:0 auto; }
	.full-width, .grid-2, .grid-3, .grid-4, .grid-5, .grid-2-3, .grid-3-4, .grid-1-3, .grid-3-4-sidebar, .grid-1-4-sidebar{ width:100% !important; margin:0px; }
	.grid-6{ width:19%; }
	.first{ margin-left:0px; }
	.last{ margin-right:0px; }
	
	.desktop-view{ display:none; }
	.responsive-view{ display:block; }
	
	/* Top Navigation menu */
	#top-social{ display:none; }
	#top-bar .slicknav_btn{ width:96%; background:#333333; margin-left:0px; }
	#top-bar .slicknav_menu{ background:#111111; }
	
	/* Main Navigation menu */
	.nav-container .full-width{ width:80%; margin:0 auto; }
	.nav-container{ background-image:none }
	.nav-container .slicknav_menu{ background:none; }
	.nav-container .slicknav_btn{ width:96%; margin-left:0px; }
	
	/* Header */
	.logo-container{ text-align:center; margin-bottom:20px; }
	.grid-2-3 .searchvideo{ width:93%; float:none; margin:0 auto }
	
	/* Videos */
	.videocontainer #VideoEmbed iframe{ height:330px; }
	.videocontainer #VideoPlayer{ height:93%; }
	
	/* Sharer */
	ul.sharer{ position:static; margin-bottom:20px; }
	ul.sharer li{ margin-left:0px; margin-right:10px; }
	
	/* Video Title */
	h6.video-title{ width:100%; }
	
	/* Blog */
	.blog-thumb{ width:100%; height:auto }
	.blog-post .image-holder{ height:180px; }
	
	
	/* Related Videos */
	.related-videos .grid-one-fourth{ width:23%; margin-left:5px; margin-right:5px; }
	.related-videos .grid-one-fourth.first{ margin-left:0px; }
	.related-videos .grid-one-fourth.last{ margin-right:0px; }
	
	/* Footer Widget */
	.footer-container .grid-6{ width:17%; }
	.footer-container .grid-6.first-widget{ margin-left:0px; }
	.footer-container .grid-6.last-widget{ margin-right:0px; }
	.vid-single .reviews.review_box{
		left: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	    margin-top: -100px;
    	height: 200px;
  	} 
  	.lightbox .container{
  		width: 100%;
    	left: 0;
  	}
  	.comment-container{
  		display: none;
  	}
}



.js .slicknav_menu{ display:block; }
@media only screen and (min-width: 320px) and (max-width: 480px ) {

	/* Show Navigation Menu and Hide Regular Menu */
	.js .slicknav_menu{ display:block; }
	 #top-nav, .sf-menu{ display:none !important; }
	
	/* Main Grids */
	.container{ width:80%; margin:0 auto; }
	.full-width, .grid-2, .grid-3, .grid-4, .grid-5, .grid-2-3, .grid-3-4, .grid-1-3, .grid-3-4-sidebar, .grid-1-4-sidebar{ width:100% !important; margin:0px; }
	.grid-6{ width:19%; }
	.first{ margin-left:0px; }
	.last{ margin-right:0px; }
	
	.desktop-view{ display:none; }
	.responsive-view{ display:block; }
	
	/* Video Thumbnail */
	.layout-2-thumb{ width:50%; }
	
	/* Top Navigation menu */
	#top-social{ display:none; }
	#top-bar .slicknav_btn{ width:96%; background:#333333; margin-left:0px; }
	#top-bar .slicknav_menu{ background:#111111; }
	
	/* Main Navigation menu */
	.nav-container .full-width{ width:80%; margin:0 auto; }
	.nav-container{ background-image:none }
	.nav-container .slicknav_menu{ background:none; }
	.nav-container .slicknav_btn{ width:96%; margin-left:0px; }
	
	/* Header */
	.logo-container{ text-align:center; margin-bottom:20px; }
	.grid-2-3 .searchvideo{ width:98%; float:none; }
	 #header-container-wrapper{min-height:75px;}
	 .col-md-2.col-sm-2.user{margin-left:30px;}
	 .tab-menu li{margin-top:10px;}
	 .user .widget-item{margin-left:0px !important;}
	
	/* Layout */
	.layout-2 .grid-6{ width:40%; }
	.layout-2 .hover-item{ height:88%; }
	.layout-2-thumb{ width:100%; margin-bottom:10px; }
	.layout-2 .layout-title{ margin-bottom:20px; }
	.layout-2 .stats{ margin-bottom:10px; display:none }
	.layout-2-details{ overflow:inherit; margin-left:0px; }
	.layout-2 p{ margin-left:0px; }
	
	/* Title Bar */
	.title-bar{ background-image:none; }
	.title-bar span{
	background:#000000;
	background-image:none;
	}
	
	/* Videos */
	.videocontainer #VideoEmbed iframe{ height:inherit; }
	.videocontainer #VideoPlayer{ height:93%; }
	
	/* Sharer */
	ul.sharer{ position:static; margin-bottom:20px; }
	ul.sharer li{ margin-left:0px; margin-right:5px; }
	ul.sharer span{ display:none; }
	ul.sharer i{ margin-right:0px; }
	ul.sharer .facebook i{ margin-left:3px; margin-right:3px; }
	
	/* Video Title */
	h6.video-title{ width:100%; }
	
	/* Blog */
	.blog-thumb{ width:100%; height:auto }
	.blog-post .image-holder{ height:100px; }
	
	/* Related Videos */
	.related-videos .grid-one-fourth{ width:100%; margin-bottom:20px; margin-left:0px; margin-right:0px; }
	.related-videos .grid-one-fourth.first{ margin-left:0px; }
	.related-videos .grid-one-fourth.last{ margin-right:0px; }
	
	/* Footer Widget */
	.footer-container .grid-6{ width:100%; }
	.footer-container .grid-6.first-widget{ margin-left:0px; }
	.footer-container .grid-6.last-widget{ margin-right:0px; }
	.vid-single .reviews.review_box{
		left: 10px;
		margin-left: auto;
		margin-right: auto;
		max-width: 94%;
  	}  	
  	.lightbox .container{
  		width: 100%;
    	left: 0;
  	}
  	.comment-container{
  		display: none;
  	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px ) {
	.vid-single .reviews.review_box{
		top:30%;
  	}
  	.grid-1-4-sidebar{
  		min-width: 100%;
  	}
  	.comment-container{
  		display: none;
  	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.vid-single .reviews.review_box{
		top:30%;
  	}
  	.grid-1-4-sidebar{
  		min-width: 100%;
  	}
  	.comment-container{
  		display: none;
  	}
}