/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #ee3224;
}
p {
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 20px;
}
strong {
    font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.5em;
    margin-bottom: 10px;
    color: #333333;

}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 23px;
}
h6 {
    font-size: 20px;
}
/* ================================================== */
/* Spacer */
/* ================================================== */

.spacing-10 {
    height: 10px;
    width: 100%;
}
.spacing-20 {
    height: 20px;
    width: 100%;
}
.spacing-30 {
    height: 30px;
    width: 100%;
}
.spacing-40 {
    height: 40px;
    width: 100%;
}
.spacing-50 {
    height: 50px;
    width: 100%;
}
.spacing-60 {
    height: 60px;
    width: 100%;
}
.spacing-70 {
    height: 70px;
    width: 100%;
}
.spacing-80 {
    height: 80px;
    width: 100%;
}
.spacing-90 {
    height: 90px;
    width: 100%;
}
.spacing-100 {
    height: 100px;
    width: 100%;
}
/* ================================================== */
/* Top Bar */
/* ================================================== */

#top-bar {
    background: #111111;
}
/* Top Nav */

#top-nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
#top-nav li {
    float: left;
}
#top-nav a {
    display: inline-block;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
}
#top-nav a:hover {
    background: #ee3224;
}
#top-nav li.current a,
#top-nav li.current-menu-item a {
    background: #ee3224;
}
/* Top Social */

#top-social {
    float: right;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
#top-social li {
    float: left;
}
#top-social a {
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
}
#top-social a:hover {
    color: #ee3224;
}
/* ================================================== */
/* Header Container */
/* ================================================== */

#header-container {
    /* background: #ee3224; */
    overflow: hidden;
}
/* ================================================== */
/* Search Bar */
/* ================================================== */

.searchvideo {
    background: #F5F5F5 url(../images/search.png) right no-repeat;
    float: right;
    width: 60%;
    border: 5px solid #d8281b;
    outline: none;
    padding: 3px;
}
/* ================================================== */
/* Title Bar */
/* ================================================== */

.title-bar {
    background: #000000 url(../images/title-bar-gloss.png) repeat-x top center;
    color: #FFFFFF;
    display: block;
    overflow: hidden;
}
h6.title-bar.no-margin {
    margin-bottom: 0px;
}
.title-bar span {
    background: #ee3224 url(../images/title-bar-gloss.png) repeat-x top center;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    float: left
}
.title-bar a {
    background: #ee3224 url(../images/title-bar-gloss.png) repeat-x top center;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    color: #FFFFFF;
}
/* ================================================== */
/* Title Results */
/* ================================================== */

.result-title {
    font-size: 16px;
    text-transform: uppercase;
}
/* ================================================== */
/* Page Title */
/* ================================================== */

#page-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
/* ================================================== */
/* Stats */
/* ================================================== */

.stats {
    display: block;
    margin-bottom: 25px;
    font-size: 11px;
    color: #888888;
    text-transform: capitalize;
}
.stats li {
    float: left;
    margin-right: 10px;
}
ul.sicon{
    padding: 7px 15px;
    width: 100%;
    float: left;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 1px 1px #e2e2e2;
}
.sicon li {
    display:inline-block;
    line-height: 26px;
    margin-right: 25px;
    font-size: 13px;
}
.sicon li i.fa {
    margin-right:7px;
}
.stats li:last-child {
    margin-right: 0px;
}
/* ================================================== */
/* Categozied Post Container */
/* ================================================== */

.layout-title {
    text-transform: uppercase;
}
.layout-1 .layout-title {
    font-size: 13px;
    margin-bottom: 5px;
}
.layout-1-thumb {
    width: 100%;
    height: auto
}
.layout-1 p {
    margin-bottom: 0px;
}
.layout-1 .hover-item {
    height: 98%;
}
.layout-2 .layout-title {
    font-size: 14px;
    margin-bottom: 5px;
}
.layout-2 .stats {
    margin-bottom: 20px;
}
.layout-2 .image-holder {
    margin-bottom: 0px;
}
.layout-2 p {
    margin-bottom: 0px;
    font-size:15px;
}
.layout-2 p a{
    text-transform:uppercase;
}
.layout-2-thumb {
    width: 100%;
    height: auto;
}
.layout-2-wrapper {
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    padding: 15px;
}
.layout-2-wrapper.solid-bg {
    background: #F6F6F6;
    padding: 4px;
    /* padding: 15px; */
}
.layout-2-details {
    margin-left: 10px;
    overflow: hidden;
}
.layout-2 .hover-item {
    height: 98%;
}
.main_wrapper .white-border{
    background-color:#fff;
    padding:15px;
    border:1px solid #ccc;
}
.main_wrapper .white-border .playlist-sidebar {
    width:100%;
    float:left;
}
.main_wrapper .white-border .playlist-side{
    width:100%;
    float:left;
    margin-bottom:15px;
}
.main_wrapper #VideoPlayer{
    margin-bottom:0px;
}
.main_wrapper .col-md-9 .playlist-bttm{
    padding: 15px 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 1px #ccc;
}
.main_wrapper .col-md-9 .videocontainer{
    position:relative;
}
.main_wrapper .col-md-9 .videocontainer .playlist-control{
    display:none;
}
.main_wrapper .col-md-9 .videocontainer:hover .playlist-control{
    display:block;
}
.main_wrapper .col-md-9 .videocontainer #song_prev{
    position:absolute;
    top:45%;
    left:15px;
    cursor:pointer;
}
.main_wrapper .col-md-9 .videocontainer #song_next{
    position:absolute;
    top:45%;
    right:15px;
    cursor:pointer;
}
.layout-3 .layout-title {
    font-size: 12px;
    margin-bottom: 0px;
}
.layout-3 .stats {
    margin-bottom: 25px;
    font-size: 10px;
}
.playlist-side .playlist-songimg{
    width:40%;
    float:left;
}
.layout-3-thumb {
    width: 100%;
    height: auto;
}
.playlist-side .playlist-songdata{
    width:58%;
    float:left;
    margin-left:2%;
}
.playlist-side .playlist-songdata p.song-title{
    font-size:14px;
    font-weight:bold;
    color:#3b3b3b;
}
.playlist-side .playlist-songdata p{
    font-size:14px;
    margin:0px;
    color:#767676;
}
.layout-3 .hover-item {
    height: 98%;
}
.layout-4 .layout-title {
    font-size: 14px;
    margin-bottom: 3px;
}
.layout-4 .stats {
    margin-bottom: 0px;
}
.layout-4-details {
    overflow: hidden;
}
.layout-4 .hover-item {
    height: 99%;
}
.layout-banner-ads img {
    width: 100%;
}
/* ================================================== */
/* Single Page */
/* ================================================== */

#VideoEmbed iframe {
    width: 100%;
    /*height: 370px;*/
    height:480px;
    margin-bottom: 30px;
}
#VideoPlayer {
    width: 100%;
    height: 380px;
    margin-bottom: 20px;
}
#DesktopPlaylist,
#MobilePlaylist,
#VideoPlayer {
    text-align: center;
}
/*.video-heading {
    position: relative;
    width:100%;
    /* float:left; */

.video-heading{
    width: auto;
    float: left;
    display: flex;
    margin-left: 15px;
}
.video-title {
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
}
.NoVideo {
    width: 100%;
    height: 400px;
    background: #000000 url(../images/novideo.png) center center no-repeat;
    margin-bottom: 30px;
}
/* Post Tags */

.post-tags a {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.5em
}
.post-tags i {
    margin-right: 5px;
}
.post-tags span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}
/* Post Categories */

.post-categories {
    margin-top: 20px;
}
.post-categories a {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.5em
}
.post-categories i {
    margin-right: 5px;
}
.post-categories span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}
.wp_link_pages {
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    display: block;
}
.wp_link_pages a {
    background: #ee3224;
    color: #FFFFFF;
    text-decoration: none;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block
}
.wp_link_pages a:hover {
    background: #000000;
}
.post-by {
    width: 100%;
    margin-bottom: 20px;
}
.post-by .avatar {
    float: left;
    margin-right: 10px;
}
.post-by .post-by-vid-count {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
}
.post-by .post-by-link {
    font-size: 13px;
    font-weight: bold;
}
/* ================================================== */
/* Sharer Social Icons */
/* ================================================== */

.sharer {
    list-style-type: none !important;
    float: right;
}
.sharer li {
    float: left;
    margin-left: 10px;
}
.sharer a {
    padding: 5px 9px;
    color: #fff;
    display: inline-block;
    float: left;
    font-weight: normal;
}
.sharer a:hover {
    color: #FFFFFF;
}
.sharer i {
    margin-right: 10px;
}
.sharer a.facebook {
    background: #4c67a1;
}
.sharer a.facebook:hover {
    background: #354973;
}
.sharer a.twitter {
    background: #00aced;
}
.sharer a.twitter:hover {
    background: #008bbf;
}
.sharer a.google {
    background: #cb3b2a;
}
.sharer a.google:hover {
    background: #a73123;
}
/* ================================================== */
/* Sidebar Widget */
/* ================================================== */

.widget-item {
    margin-bottom: 40px;
}
.widget-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    background: #000000 url(../images/widget-title-gloss.png) repeat-x center top;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
}
/*
.widget-item li{
    margin-bottom:10px;
    font-size:13px;
    }
*/

.widget-item li a {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
.widget-item li a:hover {
    color: #ee3224;
}
.widget-item li {
    padding: 5px 0;
    font-size: 13px;
    border-bottom: 1px solid #EEEEEE;
}
.widget-item li.page_item_has_children {
    border-bottom: none;
}
.widget-item .children {
    margin-top: 10px;
    margin-left: 20px;
}
.widget-item .children li {
    border-bottom: none;
    padding-bottom: 0px;
    list-style: square inside
}
.widget-item .children li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.widget-item li:last-child {
    border-bottom: none;
}
/* Calendar Widget */

.widget_calendar {
    float: left;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    text-align: center;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#wp-calendar thead {
    font-size: 10px;
}
#wp-calendar thead th {
    padding-bottom: 10px;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    text-align: center;
    padding: 8px;
}
#wp-calendar tbody td:hover {
    background: #fff;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}
/* Tag Cloud */

.tagcloud a {
    -moz-border-radius: 3px;
    /* Firefox */

    -webkit-border-radius: 3px;
    /* Safari, Chrome */

    border-radius: 3px;
    /* CSS3 */

    background: #ee3224;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
.tagcloud a:hover {
    background: #333333;
}
.screen-reader-text {
    display: none;
}
#s {
    background: #EEEEEE url(../images/search-red.png) no-repeat right center;
    border: none;
    padding: 5.8px;
    outline: none;
    float: left;
    width: 97.5%;
}
#searchsubmit {
    border: none;
    background: #ee3224;
    color: #FFFFFF;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    margin-left: 0px;
    display: none
}
/* Popular Videos Widget */

.widget-popular .image-holder {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}
.widget-popular .post-thumbnail {
    height: 50px;
    width: 50px;
}
.widget-popular .popular-details {
    overflow: hidden;
    padding-top: 5px;
}
.widget-popular .popular-details a {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    display: block;
    margin-bottom: 5px;
    line-height: 1.3em;
}
.widget-popular .stats {
    display: block;
}
.widget-popular .stats li {
    border: none;
    float: left;
    margin: 0px;
    margin-right: 7px;
    padding: 0px;
    font-size: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/* Recent Comments */

.comment-widget li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.comment-avatar {
    float: left;
    margin-right: 10px;
}
.comment-text {
    overflow: hidden;
}
.comment-text p {
    padding-top: 3px;
    margin-bottom: 0px;
}
/* Widget Ads */

.widget-ads img {
    width: 100%;
}
/* ================================================== */
/* Comments */
/* ================================================== */

.comment-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 13px;
    text-transform: uppercase;
}
.comment-header {
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
}
.comment-header span {
    color: #333333;
    font-weight: bold
}
.comment-text {
    overflow: hidden;
}
.comment-text p {
    font-size: 12px;
}
.comment-awaiting-moderation {
    font-weight: 700;
}
.reply-link {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
}
#cancel-comment-reply-link {
    font-size: 14px;
}
.avatar-container {
    float: left;
    margin-right: 20px;
}
.comment-list .children {
    margin-left: 80px;
    margin-top: 40px;
}
.comment-list li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DDDDDD;
}
.comment-list .children li {
    border-bottom: none;
}
.comment-list li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.comment-list .children li:last-child {
    margin-bottom: 0px;
}
/* Comment Form */

.comment-email,
.comment-name,
.comment-url {
    overflow: hidden;
    float: left;
    width: 28.6%;
    margin-right: 15px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #DDDDDD;
}
.comment-url.last {
    margin-right: 0px;
}
.comment-text-area {
    overflow: hidden;
    width: 96.5%;
    height: 100px;
    margin-bottom: 0px;
    padding: 10px;
    outline: none;
    border: 1px solid #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
}
#comment-submit {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
}
#comment-submit:hover {
    background: #333333;
    color: #FFFFFF
}
#reply-title {
    text-transform: uppercase;
    font-size: 14px;
}
#reply-title a {
    color: #ee3224;
}
#reply-title small {
    font-size: 10px;
    float: right
}
/* Comment Pagination */

.comment-pagination {
    margin-bottom: 40px;
}
.comment-pagination span {
    background: #000000;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.comment-pagination a {
    background: #ee3224;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.comment-pagination a:hover {
    background: #000000;
}
/* ================================================== */
/* Blog Posts */
/* ================================================== */

.blog-post {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.blog-thumb {
    margin-bottom: 20px;
}
.blog-post .stats {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.blog-post .stats li {
    display: inline-block;
}
.blog-post .stats i {
    margin-right: 5px;
    color: #BBBBBB;
}
.blog-post .readmore {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 20px;
}
.blog-post .readmore:hover {
    background: #000000;
    color: #FFFFFF;
}
.blog-post .readmore i {
    margin-left: 3px;
    font-size: 14px;
}
/* Blog Post Single */

.blog-post-single .stats {
    display: inline-block;
    margin-bottom: 20px;
}
.blog-post-single ul.stats i {
    margin-right: 5px;
    color: #BBBBBB;
}
/* ================================================== */
/* Pagination */
/* ================================================== */

ul.pagination {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul.pagination li {
    float: left;
    margin-right: 5px;
}
ul.pagination li a {
    background: #ee3224;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
ul.pagination li a:hover {
    background: #000000;
}
ul.pagination li.current a {
    background: #000000;
}
/* ================================================== */
/* Footer Container */
/* ================================================== */

.footer-container {
    padding-top: 40px;
    padding-bottom: 20px;
    background: #000000;
    color: #666666;
}
.footer-container.nopadding {
    padding-top: 0px;
}
.footer-container .widget-title {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    border-bottom: 1px solid #333333;
    margin-bottom: 25px;
    padding: 0px;
    padding-bottom: 10px;
}
#copyright {
    padding-top: 20px;
    margin-bottom: 0px;
    line-height: 1.5em;
}
#copyright-text {
    width: 50%;
    float: left;
    padding-top: 10px;
}
#footer-logo {
    float: left;
    width: 50%;
    text-align: right;
}
/* ================================================== */
/* Footer */
/* ================================================== */

.footer-container a {
    color: #999999
}
.footer-container a:hover {
    color: #ee3224
}
.footer-container .widget-item {
    margin-bottom: 40px;
}
.footer-container .widget-item li {
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: none;
    font-size: 13px;
}
.footer-container .widget-item li:last-child {
    border-bottom: none;
}
.footer-container .widget-item li a {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
}
.footer-container .widget-item li a:hover {
    color: #ee3224;
}
/* Calendar Widget */

.footer-container .widget_calendar {
    float: left;
}
.footer-container #wp-calendar {
    width: 100%;
}
.footer-container #wp-calendar caption {
    text-align: center;
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-container #wp-calendar thead {
    font-size: 10px;
}
.footer-container #wp-calendar thead th {
    padding-bottom: 10px;
}
.footer-container #wp-calendar tbody {
    color: #aaa;
}
.footer-container #wp-calendar tbody td {
    background: none;
    border: 1px solid #222222;
    text-align: center;
    padding: 8px;
}
.footer-container #wp-calendar tbody td:hover {
    background: #888888;
    color: #FFFFFF
}
.footer-container #wp-calendar tbody .pad {
    background: none;
}
.footer-container #wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
.footer-container #wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}
/* Tag Cloud */

.footer-container .tagcloud a {
    -moz-border-radius: 3px;
    /* Firefox */

    -webkit-border-radius: 3px;
    /* Safari, Chrome */

    border-radius: 3px;
    /* CSS3 */

    background: #ee3224;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
.footer-container .tagcloud a:hover {
    background: #333333;
}
/* Popular Videos Widget */

.footer-container .widget-popular li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333333
}
.footer-container .widget-popular .image-holder {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}
.footer-container .widget-popular .post-thumbnail {
    height: 50px;
    width: 50px;
}
.footer-container .widget-popular .popular-details {
    overflow: hidden;
    padding-top: 5px;
}
.footer-container .widget-popular .popular-details a {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    display: block;
    margin-bottom: 5px;
    line-height: 1.3em;
}
.footer-container .widget-popular .popular-details a:hover {
    color: #ee3224
}
.footer-container .widget-popular .stats {
    display: block;
}
.footer-container .widget-popular .stats li {
    border: none;
    float: left;
    margin: 0px;
    margin-right: 7px;
    padding: 0px;
    font-size: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/* Recent Comments */

.footer-container .comment-widget li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333333
}
.footer-container .comment-avatar {
    float: left;
    margin-right: 10px;
}
.footer-container .comment-text {
    overflow: hidden;
}
.footer-container .comment-text p {
    padding-top: 3px;
    margin-bottom: 0px;
}
.footer-container .comment-widget .comment-text a {
    color: #999999;
}
.footer-container .comment-widget .comment-text a:hover {
    color: #ee3224;
}
/* Easy Tabs */

.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    display: inline-block;
    zoom: 1;
    *display: inline;
    border-bottom: none;
}
li.tab {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 1px solid #f8f8f8;
    border-bottom: none;
    text-align: center;
    margin: 0px;
}
.tab a {
    font-size: 14px;
    display: block;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: bold
}
.tab i {
    margin-left: 5px;
}
.tab.active {
    padding-top: 0px;
    position: relative;
    background: #f8f8f8;
}
.tab-content {
    background: #f8f8f8;
    border-top: none;
    padding: 15px;
    padding-top: 25px;
}
/* Login/Signup Form */

.user-forms .user-input {
    outline: none;
    padding: 8px;
    margin: 0px;
    margin-bottom: 10px;
    border: none;
    border: 5px solid #f5f5f5;
    width: 85%
}
.user-forms .user-submit {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    outline: none
}
.user-forms .user-submit:hover {
    background: #000000;
}
/* Update Profile Form */

.update-profile-form {
    margin-bottom: 40px;
}
.update-profile-form h6 {
    font-size: 14px;
}
.update-profile-form .user-input {
    background: #EEEEEE;
    border: none;
    border: 5px solid #f8f8f8;
    padding: 10px;
    width: 60%;
    outline: none;
    color: #888888;
    margin-bottom: 10px;
}
.update-profile-form textarea.user-input {
    height: 100px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
.update-profile-form i {
    background: #AAAAAA;
    padding: 11.3px;
    border: 5px solid #f8f8f8;
    border-right: none;
    font-size: 14px;
    color: #FFFFFF;
    min-width: 20px;
    text-align: center
}
.update-profile-form label {
    display: block;
}
.update-profile-form .user-submit {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    outline: none
}
.update-profile-form .user-submit:hover {
    background: #000000;
}
.update-error {
    background: #f5c9c9;
    padding: 20px;
    color: #e15e5e;
    margin-bottom: 20px;
}
.update-success {
    background: #d7ffd8;
    color: #8be18d;
    padding: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
/* Widget Register Success Notice */

.widget-register-success {
    background: #d7ffd8;
    color: #8be18d;
    padding: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
/* Widget Register Error Notice */

.widget-register-error {
    background: #f5c9c9;
    padding: 20px;
    color: #e15e5e;
    margin-bottom: 20px;
}
.widget-register-error li {
    list-style: square inside;
    border-bottom: none;
    line-height: 1.5em;
}
.widget-register-error li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* Widget Profile */

.widget-user-profile {
    background: #f8f8f8;
    padding: 15px;
}
.widget-user-profile .avatar {
    float: left;
    margin-right: 10px;
}
.widget-user-profile .welcome {
    text-transform: capitalize;
}
.widget-user-profile .profile-header {
    padding: 1px;
    margin-bottom: 20px;
}
/* Widget profile edit */

.widget-profile-controls {
    margin-bottom: 0px;
}
.widget-profile-controls i {
    margin-right: 5px;
}
.widget-profile-controls li {
    border-bottom: 1px solid #DFDFDF;
}
.widget-profile-controls li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* User Profile */

.user-profile {
    clear: both;
}
.user-profile .avatar {
    float: left;
    margin-right: 20px;
    border: 5px solid #EEEEEE;
}
.user-info {
    overflow: hidden;
    line-height: 1.5em;
}
.user-info p {
    margin-bottom: 10px;
}
.user-info strong {
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
}
.user-social {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px;
    float: right
}
.user-social li {
    float: left;
    margin-right: 10px;
}
/* Wordpress Classes */

.content-empty {
    width: 100%;
    height: 100px;
}
.wp-caption {
    padding: 5px;
    background: #F2F2F2;
    text-align: center;
    margin-bottom: 20px;
}
.wp-caption-text {
    margin-bottom: 0px;
    font-weight: normal;
}
.wp-caption img {
    margin-bottom: 10px;
}
.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    clear: both
}
.alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    clear: both
}
.aligncenter {
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid #D4D4D4;
}
.bypostauthor {}
/* Gallery */

.gallery-caption {
    display: none
}
.gallery-item {
    text-align: center;
}
.wp-caption-dt {
    display: none;
}
/* Sticky */

.sticky {
    background: url(../images/sticky.png) right bottom no-repeat;
}
.profile_pic {
    left: 30px;
    position: relative;
    top: -240px;
}
.cover_image .fa {
    color: white;
    font-size: xx-large;
    left: 793px;
    position: relative;
    top: 0;
}
.profile_b .fa {
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    left: 121px;
    position: relative;
    top: 115px;
}
.profile_b {
    left: 30px;
    position: relative;
    top: -310px;
}
.user-profile .social_links {
    margin-top:-102px;
    margin-right:10px;
}
.ui-tabs {
    float: right;
    /*
    margin-right: 254px;
    */
    width: 607px;
}
#custom-post-type {
    clear: both;
    margin-top: 20px;
    margin-bottom: 18px;
    padding: 10px;
}
#title {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 25px;
    margin: 10px 0;
    width: 40%;
}
#category-all {
    float: right;
    height: 200px;
    overflow: scroll;
}
#description {
    clear: both;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 40%;
    margin: 10px 0;
}
.form_b {
    float: left;
    width: 55%;
}
.profile_b {
    left: 3px;
    position: relative;
    width: 150px;
}
.profile_pic {
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 104px;
    width: 150px;
    left: 4px;
}
#cover_click {
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 18.5%;
    top: 205px;
}
.cover_image {
    background-size: 100% 100% !important;
}
#wrapper {
    position: absolute !important;
    width: 67.3%;
    z-index: 1000;
}
.title-bar span {
    font-size: 22px !important;
    padding: 6px !important;
}
/*  .user-profile .fa{ display:none;}
 .user-profile:hover .fa{ display :block;}
 .user-profile:hover{ margin-bottom:-25px;} */

#playlist-form {
    display: none;
}
.playlistview {
    padding: 5px;
    border: 1px solid #000
}
/* Custom Css Include Here */
#custom-post-type{
    width:100%;
    float:left;
}
#custom-post-type .form_b{
    width:100%;
    float:left;
}
#custom-post-type .tabs-panel{
    width:100%;
    float:left;
}
#custom-post-type .tabs-panel b{
    width:100%;
    float:left;
    margin:0px !important;
}
.ui-tabs .ui-tabs-panel{
    width:100%;
    float:left;
    padding:0px !important;
    margin-top:11px;
}
#custom-post-type .tabs-panel #category-all{
    width:40%;
    float:left;
    height:200px;
    overflow:scroll;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    margin-top:11px;
}
#custom-post-type .ui-tabs-panel input[type="text"], #custom-post-type .ui-tabs-panel textarea{
    width:40% !important;
}
#wrapper{
    width:100% !important;
    position:relative !important;
}

.videocontainer{
    width:854px;
    /*height:490px;*/
    height: auto;
}
.main_wrapper #VideoPlayer{
    max-width:854px;
    height:480px;
}
@media only screen and (max-width: 414px){
    .ui-tabs{
        width:300px;
    }
}

.pull-right > a {
    cursor: pointer;
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
a {
    color: #000000;
}
a:hover {
    color: #ee3224;
}
p {
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 20px;
}
strong {
    font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.5em;
    margin-bottom: 10px;
    color: #333333;
    text-transform: uppercase;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 23px;
}
h6 {
    font-size: 20px;
}
/* ================================================== */
/* Spacer */
/* ================================================== */

.spacing-10 {
    height: 10px;
    width: 100%;
}
.spacing-20 {
    height: 20px;
    width: 100%;
}
.spacing-30 {
    height: 30px;
    width: 100%;
}
.spacing-40 {
    height: 40px;
    width: 100%;
}
.spacing-50 {
    height: 50px;
    width: 100%;
}
.spacing-60 {
    height: 60px;
    width: 100%;
}
.spacing-70 {
    height: 70px;
    width: 100%;
}
.spacing-80 {
    height: 80px;
    width: 100%;
}
.spacing-90 {
    height: 90px;
    width: 100%;
}
.spacing-100 {
    height: 100px;
    width: 100%;
}
/* ================================================== */
/* Top Bar */
/* ================================================== */

#top-bar {
    background: #111111;
}
/* Top Nav */

#top-nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
#top-nav li {
    float: left;
}
#top-nav a {
    display: inline-block;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
}
#top-nav a:hover {
    background: #ee3224;
}
#top-nav li.current a,
#top-nav li.current-menu-item a {
    background: #ee3224;
}
/* Top Social */

#top-social {
    float: right;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
#top-social li {
    float: left;
}
#top-social a {
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
}
#top-social a:hover {
    color: #ee3224;
}
/* ================================================== */
/* Header Container */
/* ================================================== */

#header-container {
    background: #ee3224;
    overflow: hidden;
}
/* ================================================== */
/* Search Bar */
/* ================================================== */

.searchvideo {
    background: #F5F5F5 url(../images/search.png) right no-repeat;
    float: right;
    width: 60%;
    border: 5px solid #d8281b;
    outline: none;
    padding: 10px;
}
/* ================================================== */
/* Title Bar */
/* ================================================== */

.title-bar {
    background: #000000 url(../images/title-bar-gloss.png) repeat-x top center;
    color: #FFFFFF;
    display: block;
    overflow: hidden;
}
h6.title-bar.no-margin {
    margin-bottom: 0px;
}
.title-bar span {
    background: #ee3224 url(../images/title-bar-gloss.png) repeat-x top center;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    float: left
}
.title-bar a {
    background: #ee3224 url(../images/title-bar-gloss.png) repeat-x top center;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    color: #FFFFFF;
}
/* ================================================== */
/* Title Results */
/* ================================================== */

.result-title {
    font-size: 16px;
    text-transform: uppercase;
}
/* ================================================== */
/* Page Title */
/* ================================================== */

#page-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
/* ================================================== */
/* Stats */
/* ================================================== */

.stats {
    display: block;
    margin-bottom: 25px;
    font-size: 11px;
    color: #888888;
    text-transform: capitalize;
}
.stats li {
    float: left;
    margin-right: 10px;
}
ul.sicon{
    padding: 7px 15px;
    width: 100%;
    float: left;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 1px 1px #e2e2e2;
}
.sicon li {
    display:inline-block;
    line-height: 26px;
    margin-right: 25px;
    font-size: 13px;
}
.sicon li i.fa {
    margin-right:7px;
}
.stats li:last-child {
    margin-right: 0px;
}
/* ================================================== */
/* Categozied Post Container */
/* ================================================== */

.layout-title {
    text-transform: uppercase;
}
.layout-1 .layout-title {
    font-size: 13px;
    margin-bottom: 5px;
}
.layout-1-thumb {
    width: 100%;
    height: auto
}
.layout-1 p {
    margin-bottom: 0px;
}
.layout-1 .hover-item {
    height: 98%;
}
.layout-2 .layout-title {
    font-size: 14px;
    margin-bottom: 5px;
}
.layout-2 .stats {
    margin-bottom: 20px;
}
.layout-2 .image-holder {
    margin-bottom: 0px;
}
.layout-2 p {
    margin-bottom: 0px;
    font-size:15px;
}
.layout-2 p a{
    text-transform:uppercase;
}
.layout-2-thumb {
    width: 100%;
    height: auto;
}
.layout-2-wrapper {
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    padding: 15px;
}
.layout-2-wrapper.solid-bg {
    background: #F6F6F6;
}
.layout-2-details {
    margin-left: 10px;
    overflow: hidden;
}
.layout-2 .hover-item {
    height: 98%;
}
.main_wrapper .white-border{
    background-color:#fff;
    padding:15px;
    border:1px solid #ccc;
}
.main_wrapper .white-border .playlist-sidebar {
    width:100%;
    float:left;
}
.main_wrapper .white-border .playlist-side{
    width:100%;
    float:left;
    margin-bottom:15px;
}
.main_wrapper #VideoPlayer{
    margin-bottom:0px;
}
.main_wrapper .col-md-9 .playlist-bttm{
    padding: 15px 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 1px #ccc;
}
.main_wrapper .col-md-9 .videocontainer{
    position:relative;
}
.main_wrapper .col-md-9 .videocontainer .playlist-control{
    display:none;
}
.main_wrapper .col-md-9 .videocontainer:hover .playlist-control{
    display:block;
}
.main_wrapper .col-md-9 .videocontainer #song_prev{
    position:absolute;
    top:45%;
    left:15px;
    cursor:pointer;
}
.main_wrapper .col-md-9 .videocontainer #song_next{
    position:absolute;
    top:45%;
    right:15px;
    cursor:pointer;
}
.layout-3 .layout-title {
    font-size: 12px;
    margin-bottom: 0px;
}
.layout-3 .stats {
    margin-bottom: 25px;
    font-size: 10px;
}
.playlist-side .playlist-songimg{
    width:40%;
    float:left;
}
.layout-3-thumb {
    width: 100%;
    height: auto;
}
.playlist-side .playlist-songdata{
    width:58%;
    float:left;
    margin-left:2%;
}
.playlist-side .playlist-songdata p.song-title{
    font-size:14px;
    font-weight:bold;
    color:#3b3b3b;
}
.playlist-side .playlist-songdata p{
    font-size:14px;
    margin:0px;
    color:#767676;
}
.layout-3 .hover-item {
    height: 98%;
}
.layout-4 .layout-title {
    font-size: 14px;
    margin-bottom: 3px;
}
.layout-4 .stats {
    margin-bottom: 0px;
}
.layout-4-details {
    overflow: hidden;
}
.layout-4 .hover-item {
    height: 99%;
}
.layout-banner-ads img {
    width: 100%;
}
/* ================================================== */
/* Single Page */
/* ================================================== */

#VideoEmbed iframe {
    width: 100%;
    height: 370px;
    margin-bottom: 30px;
}
#VideoPlayer {
    width: 100%;
    height: 380px;
    margin-bottom: 20px;
}
#DesktopPlaylist,
#MobilePlaylist,
#VideoPlayer {
    text-align: center;
}
/*.video-heading {
    position: relative;
    width:100%;
    /* float:left; */
margin-bottom:15px;
}*/
.video-heading{
    width: auto;
    float: left;
    display: flex;
    margin-left: 15px;
}
.video-title {
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.NoVideo {
    width: 100%;
    height: 480px;
    background: #000000 url(../images/novideo.png) center center no-repeat;
    margin-bottom: 15px;
}
/* Post Tags */

.post-tags a {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.5em;
}
.post-tags i {
    margin-right: 5px;
}
.post-tags span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}
/* Post Categories */

.post-categories {
    margin-top: 20px;
}
.post-categories a {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.5em
}
.post-categories i {
    margin-right: 5px;
}
.post-categories span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}
.wp_link_pages {
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    display: block;
}
.wp_link_pages a {
    background: #ee3224;
    color: #FFFFFF;
    text-decoration: none;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block
}
.wp_link_pages a:hover {
    background: #000000;
}
.post-by {
    width: 100%;
    margin-bottom: 20px;
}
.post-by .avatar {
    float: left;
    margin-right: 10px;
}
.post-by .post-by-vid-count {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
}
.post-by .post-by-link {
    font-size: 13px;
    font-weight: bold;
}
/* ================================================== */
/* Sharer Social Icons */
/* ================================================== */

.sharer {
    width: 40%;
    float: right;
    margin: 0px !important;
}
.sharer li {
    line-height: 30px;
    float: right;
    margin-left: 4px;
}
.sharer a {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-size: 14px;
}
.sharer a:hover {
    color: #FFFFFF;
}
.sharer i {
    margin-right: 10px;
}
.sharer a.facebook {
    background: #4c67a1;
}
.sharer a.facebook:hover {
    background: #354973;
}
.sharer a.twitter {
    background: #00aced;
}
.sharer a.twitter:hover {
    background: #008bbf;
}
.sharer a.google {
    background: #cb3b2a;
}
.sharer a.google:hover {
    background: #a73123;
}
/* ================================================== */
/* Sidebar Widget */
/* ================================================== */

.widget-item {
    margin-bottom: 40px;
}
.widget-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    background: #000000 url(../images/widget-title-gloss.png) repeat-x center top;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
}
/*
.widget-item li{
    margin-bottom:10px;
    font-size:13px;
    }
*/

.widget-item li a {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
.widget-item li a:hover {
    color: #ee3224;
}
.widget-item li {
    padding: 5px 0;
    font-size: 13px;
    border-bottom: 1px solid #EEEEEE;
}
.widget-item li.page_item_has_children {
    border-bottom: none;
}
.widget-item .children {
    margin-top: 10px;
    margin-left: 20px;
}
.widget-item .children li {
    border-bottom: none;
    padding-bottom: 0px;
    list-style: square inside
}
.widget-item .children li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.widget-item li:last-child {
    border-bottom: none;
}
/* Calendar Widget */

.widget_calendar {
    float: left;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    text-align: center;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#wp-calendar thead {
    font-size: 10px;
}
#wp-calendar thead th {
    padding-bottom: 10px;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    text-align: center;
    padding: 8px;
}
#wp-calendar tbody td:hover {
    background: #fff;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}
/* Tag Cloud */

.tagcloud a {
    -moz-border-radius: 3px;
    /* Firefox */

    -webkit-border-radius: 3px;
    /* Safari, Chrome */

    border-radius: 3px;
    /* CSS3 */

    background: #ee3224;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
.tagcloud a:hover {
    background: #333333;
}
.screen-reader-text {
    display: none;
}
#s {
    background: #EEEEEE url(../images/search-red.png) no-repeat right center;
    border: none;
    padding: 5.8px;
    outline: none;
    float: left;
    width: 97.5%;
}
#searchsubmit {
    border: none;
    background: #ee3224;
    color: #FFFFFF;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    margin-left: 0px;
    display: none
}
/* Popular Videos Widget */

.widget-popular .image-holder {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}
.widget-popular .post-thumbnail {
    height: 50px;
    width: 50px;
}
.widget-popular .popular-details {
    overflow: hidden;
    padding-top: 5px;
}
.widget-popular .popular-details a {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    display: block;
    margin-bottom: 5px;
    line-height: 1.3em;
}
.widget-popular .stats {
    display: block;
}
.widget-popular .stats li {
    border: none;
    float: left;
    margin: 0px;
    margin-right: 7px;
    padding: 0px;
    font-size: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/* Recent Comments */

.comment-widget li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.comment-avatar {
    float: left;
    margin-right: 10px;
}
.comment-text {
    overflow: hidden;
}
.comment-text p {
    padding-top: 3px;
    margin-bottom: 0px;
}
/* Widget Ads */

.widget-ads img {
    width: 100%;
}
/* ================================================== */
/* Comments */
/* ================================================== */

.comment-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 13px;
    text-transform: uppercase;
}
.comment-header {
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
}
.comment-header span {
    color: #333333;
    font-weight: bold
}
.comment-text {
    overflow: hidden;
}
.comment-text p {
    font-size: 12px;
}
.comment-awaiting-moderation {
    font-weight: 700;
}
.reply-link {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
}
#cancel-comment-reply-link {
    font-size: 14px;
}
.avatar-container {
    float: left;
    margin-right: 20px;
}
.comment-list .children {
    margin-left: 80px;
    margin-top: 40px;
}
.comment-list li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DDDDDD;
}
.comment-list .children li {
    border-bottom: none;
}
.comment-list li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.comment-list .children li:last-child {
    margin-bottom: 0px;
}
/* Comment Form */

.comment-email,
.comment-name,
.comment-url {
    overflow: hidden;
    float: left;
    width: 28.6%;
    margin-right: 15px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #DDDDDD;
}
.comment-url.last {
    margin-right: 0px;
}
.comment-text-area {
    overflow: hidden;
    width: 96.5%;
    height: 100px;
    margin-bottom: 0px;
    padding: 10px;
    outline: none;
    border: 1px solid #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
}
#comment-submit {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
}
#comment-submit:hover {
    background: #333333;
    color: #FFFFFF
}
#reply-title {
    text-transform: uppercase;
    font-size: 14px;
}
#reply-title a {
    color: #ee3224;
}
#reply-title small {
    font-size: 10px;
    float: right
}
.comment-container .position-comment{
    margin-top: -20px;
    padding-top: 10px;
}
/* Comment Pagination */

.comment-pagination {
    margin-bottom: 40px;
}
.comment-pagination span {
    background: #000000;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.comment-pagination a {
    background: #ee3224;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.comment-pagination a:hover {
    background: #000000;
}
/* ================================================== */
/* Blog Posts */
/* ================================================== */

.blog-post {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.blog-thumb {
    margin-bottom: 20px;
}
.blog-post .stats {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.blog-post .stats li {
    display: inline-block;
}
.blog-post .stats i {
    margin-right: 5px;
    color: #BBBBBB;
}
.blog-post .readmore {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 20px;
}
.blog-post .readmore:hover {
    background: #000000;
    color: #FFFFFF;
}
.blog-post .readmore i {
    margin-left: 3px;
    font-size: 14px;
}
/* Blog Post Single */

.blog-post-single .stats {
    display: inline-block;
    margin-bottom: 20px;
}
.blog-post-single ul.stats i {
    margin-right: 5px;
    color: #BBBBBB;
}
/* ================================================== */
/* Pagination */
/* ================================================== */

ul.pagination {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul.pagination li {
    float: left;
    margin-right: 5px;
}
ul.pagination li a {
    background: #ee3224;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
ul.pagination li a:hover {
    background: #000000;
}
ul.pagination li.current a {
    background: #000000;
}
/* ================================================== */
/* Footer Container */
/* ================================================== */

.footer-container {
    padding-top: 40px;
    padding-bottom: 20px;
    background: #000000;
    color: #666666;
}
.footer-container.nopadding {
    padding-top: 10px;
}
.footer-container .widget-title {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    border-bottom: 1px solid #333333;
    margin-bottom: 25px;
    padding: 0px;
    padding-bottom: 10px;
}
#copyright {
    padding-top: 20px;
    margin-bottom: 0px;
    line-height: 1.5em;
}
#copyright-text {
    width: 50%;
    float: left;
    padding-top: 10px;
}
#footer-logo {
    float: left;
    width: 50%;
    text-align: right;
}
/* ================================================== */
/* Footer */
/* ================================================== */

.footer-container a {
    color: #999999
}
.footer-container a:hover {
    color: #ee3224
}
.footer-container .widget-item {
    margin-bottom: 40px;
}
.footer-container .widget-item li {
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: none;
    font-size: 13px;
}
.footer-container .widget-item li:last-child {
    border-bottom: none;
}
.footer-container .widget-item li a {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
}
.footer-container .widget-item li a:hover {
    color: #ee3224;
}
/* Calendar Widget */

.footer-container .widget_calendar {
    float: left;
}
.footer-container #wp-calendar {
    width: 100%;
}
.footer-container #wp-calendar caption {
    text-align: center;
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-container #wp-calendar thead {
    font-size: 10px;
}
.footer-container #wp-calendar thead th {
    padding-bottom: 10px;
}
.footer-container #wp-calendar tbody {
    color: #aaa;
}
.footer-container #wp-calendar tbody td {
    background: none;
    border: 1px solid #222222;
    text-align: center;
    padding: 8px;
}
.footer-container #wp-calendar tbody td:hover {
    background: #888888;
    color: #FFFFFF
}
.footer-container #wp-calendar tbody .pad {
    background: none;
}
.footer-container #wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
.footer-container #wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}
/* Tag Cloud */

.footer-container .tagcloud a {
    -moz-border-radius: 3px;
    /* Firefox */

    -webkit-border-radius: 3px;
    /* Safari, Chrome */

    border-radius: 3px;
    /* CSS3 */

    background: #ee3224;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
.footer-container .tagcloud a:hover {
    background: #333333;
}
/* Popular Videos Widget */

.footer-container .widget-popular li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333333
}
.footer-container .widget-popular .image-holder {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}
.footer-container .widget-popular .post-thumbnail {
    height: 50px;
    width: 50px;
}
.footer-container .widget-popular .popular-details {
    overflow: hidden;
    padding-top: 5px;
}
.footer-container .widget-popular .popular-details a {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    display: block;
    margin-bottom: 5px;
    line-height: 1.3em;
}
.footer-container .widget-popular .popular-details a:hover {
    color: #ee3224
}
.footer-container .widget-popular .stats {
    display: block;
}
.footer-container .widget-popular .stats li {
    border: none;
    float: left;
    margin: 0px;
    margin-right: 7px;
    padding: 0px;
    font-size: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/* Recent Comments */

.footer-container .comment-widget li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333333
}
.footer-container .comment-avatar {
    float: left;
    margin-right: 10px;
}
.footer-container .comment-text {
    overflow: hidden;
}
.footer-container .comment-text p {
    padding-top: 3px;
    margin-bottom: 0px;
}
.footer-container .comment-widget .comment-text a {
    color: #999999;
}
.footer-container .comment-widget .comment-text a:hover {
    color: #ee3224;
}
/* Easy Tabs */

.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    display: inline-block;
    zoom: 1;
    *display: inline;
    border-bottom: none;
}
li.tab {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 1px solid #f8f8f8;
    border-bottom: none;
    text-align: center;
    margin: 0px;
}
.tab a {
    font-size: 14px;
    display: block;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: bold
}
.tab i {
    margin-left: 5px;
}
.tab.active {
    padding-top: 0px;
    position: relative;
    background: #f8f8f8;
}
.tab-content {
    background: #f8f8f8;
    border-top: none;
    /*padding:25px 6px 15px 0px;*/
    width:100%;
    float:left;
}
/* Login/Signup Form */

.user-forms .user-input {
    outline: none;
    padding: 8px;
    margin: 0px;
    margin-bottom: 10px;
    border: none;
    border: 5px solid #f5f5f5;
    width: 103%
}
.user-forms .user-submit {
    margin-left:5px;
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    outline: none
}
.user-forms a {
    padding-left:5px;
}
.user-forms .user-submit:hover {
    background: #000000;
}
/* Update Profile Form */

.update-profile-form {
    margin-bottom: 40px;
}
.update-profile-form h6 {
    font-size: 14px;
}
.update-profile-form .user-input {
    background: #EEEEEE;
    border: none;
    border: 5px solid #f8f8f8;
    padding: 10px;
    width: 60%;
    outline: none;
    color: #888888;
    margin-bottom: 10px;
}
.update-profile-form textarea.user-input {
    height: 100px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
.update-profile-form i {
    background: #AAAAAA;
    padding: 11.3px;
    border: 5px solid #f8f8f8;
    border-right: none;
    font-size: 14px;
    color: #FFFFFF;
    min-width: 20px;
    text-align: center
}
.update-profile-form label {
    display: block;
}
.update-profile-form .user-submit {
    background: #ee3224;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    outline: none
}
.update-profile-form .user-submit:hover {
    background: #000000;
}
.update-error {
    background: #f5c9c9;
    padding: 20px;
    color: #e15e5e;
    margin-bottom: 20px;
}
.update-success {
    background: #d7ffd8;
    color: #8be18d;
    padding: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
/* Widget Register Success Notice */

.widget-register-success {
    background: #d7ffd8;
    color: #8be18d;
    padding: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
/* Widget Register Error Notice */

.widget-register-error {
    background: #f5c9c9;
    padding: 20px;
    color: #e15e5e;
    margin-bottom: 20px;
}
.widget-register-error li {
    list-style: square inside;
    border-bottom: none;
    line-height: 1.5em;
}
.widget-register-error li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* Widget Profile */

.widget-user-profile {
    background: #f8f8f8;
    padding: 15px;
}
.widget-user-profile .avatar {
    float: left;
    margin-right: 10px;
}
.widget-user-profile .welcome {
    text-transform: capitalize;
}
.widget-user-profile .profile-header {
    padding: 1px;
    margin-bottom: 20px;
}
/* Widget profile edit */

.widget-profile-controls {
    margin-bottom: 0px;
}
.widget-profile-controls i {
    margin-right: 5px;
}
.widget-profile-controls li {
    border-bottom: 1px solid #DFDFDF;
}
.widget-profile-controls li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* User Profile */

.user-profile {
    clear: both;
}
.user-profile .avatar {
    float: left;
    margin-right: 20px;
    border: 5px solid #EEEEEE;
}
.user-info {
    overflow: hidden;
    line-height: 1.5em;
}
.user-info p {
    margin-bottom: 10px;
}
.user-info strong {
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
}
.user-social {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px;
    float: right
}
.user-social li {
    float: left;
    margin-right: 10px;
}
/* Wordpress Classes */

.content-empty {
    width: 100%;
    /*height: 100px;*/
    height: auto;
    float: left;
    margin-bottom:15px;
}
.wp-caption {
    padding: 5px;
    background: #F2F2F2;
    text-align: center;
    margin-bottom: 20px;
}
.wp-caption-text {
    margin-bottom: 0px;
    font-weight: normal;
}
.wp-caption img {
    margin-bottom: 10px;
}
.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    clear: both
}
.alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    clear: both
}
.aligncenter {
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid #D4D4D4;
}
.bypostauthor {}
/* Gallery */

.gallery-caption {
    display: none
}
.gallery-item {
    text-align: center;
}
.wp-caption-dt {
    display: none;
}
/* Sticky */

.sticky {
    background: url(../images/sticky.png) right bottom no-repeat;
}
.profile_pic {
    left: 30px;
    position: relative;
    top: -240px;
}
.cover_image .fa {
    color: white;
    font-size: xx-large;
    left: 793px;
    position: relative;
    top: 0;
}
.profile_b .fa {
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    left: 121px;
    position: relative;
    top: 115px;
}
.profile_b {
    left: 30px;
    position: relative;
    top: -310px;
}
.user-profile .social_links {
    margin-top:-102px;
    margin-right:10px;
}
.ui-tabs {
    float: right;
    /*
    margin-right: 254px;
    */
    width: 607px;
}
#custom-post-type {
    clear: both;
    margin-top: 20px;
    margin-bottom: 18px;
    padding: 10px;
}
#title {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 25px;
    margin: 10px 0;
    width: 40%;
}
#category-all {
    float: right;
    height: 200px;
    overflow: scroll;
}
#description {
    clear: both;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 40%;
    margin: 10px 0;
}
.form_b {
    float: left;
    width: 55%;
}
.profile_b {
    left: 3px;
    position: relative;
    width: 150px;
}
.profile_pic {
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 104px;
    width: 150px;
    left: 4px;
}
#cover_click {
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 7.5%;
    top: 296px;
}
.cover_image {
    background-size: 100% 100% !important;
}
#wrapper {
    position: absolute !important;
    width: 67.3%;
    z-index: 1000;
}
.title-bar span {
    font-size: 22px !important;
    padding: 6px !important;
}
/*  .user-profile .fa{ display:none;}
 .user-profile:hover .fa{ display :block;}
 .user-profile:hover{ margin-bottom:-25px;} */

#playlist-form {
    display: none;
}
.playlistview {
    padding: 5px;
    border: 1px solid #000
}
/* Custom Css Include Here */
#custom-post-type{
    width:100%;
    float:left;
}
#custom-post-type .form_b{
    width:100%;
    float:left;
}
#custom-post-type .tabs-panel{
    width:100%;
    float:left;
}
#custom-post-type .tabs-panel b{
    width:100%;
    float:left;
    margin:0px !important;
}
.ui-tabs .ui-tabs-panel{
    width:100%;
    float:left;
    padding:0px !important;
    margin-top:11px;
}
#custom-post-type .tabs-panel #category-all{
    width:40%;
    float:left;
    height:200px;
    overflow:scroll;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    margin-top:11px;
}
#custom-post-type .ui-tabs-panel input[type="text"], #custom-post-type .ui-tabs-panel textarea{
    width:40% !important;
}
#wrapper{
    width:100% !important;
    position:relative !important;
}

.videocontainer{
    width:854px;
    /*height:490px;*/
    height: auto;
    text-align: center;
}
.main_wrapper #VideoPlayer{
    max-width:854px;
    height:480px;
}

.vid-single{
    width: 100%;
    float: left;
}
@media only screen and (max-width: 414px){
    .ui-tabs{
        width:300px;
    }
}

.pull-right > a {
    cursor: pointer;
}
@media only screen and (max-width: 1024px){
    #cover_click{
        top:335px;
        right:9.5%;
    }
}
@media only screen and (max-width: 768px){
    #cover_click{
        top:335px;
        right:9.5%;
    }
    .title-bar span{
        font-size:19px !important;
    }
    .login_button{
        font-size:16px;
    }
    .sign_up_button{
        font-size:16px;
    }
}
@media only screen and (max-width: 736px){
    #cover_click{
        top:335px;
        right:9.5%;
    }
}
@media only screen and (max-width: 667px){
    #cover_click{
        top:390px;
        right:10.5%;
    }
}
@media only screen and (max-width: 568px){
    #cover_click{
        top:387px;
        right:11.5%;
    }
}
@media only screen and (max-width: 480px){
    #cover_click{
        top:392px;
        right:14.5%;
    }
}
@media only screen and (max-width: 375px){
    #cover_click{
        top:386px;
        right:14.5%;
    }
}
@media only screen and (max-width: 320px){
    #cover_click{
        top:390px;
        left:245px;
    }
    .profile_pic{
        top:108px;
        left:-2px;
    }
}

/* files tabs */

.fa.fa-file-pdf-o {
    font-size: 30px;
    color: #ff0000;
}

.fa.fa-file-word-o {
    font-size: 30px;
}

.fa.fa-file-text-o {
    color: #5466BD !important;
    font-size: 30px;
}

.fa.fa-file-image-o {
    color: #31B0D5 !important;
    font-size: 30px;
}

.fa.fa-file {
    color: #31B0D5 !important;
    font-size: 30px;
}

.type{
    text-transform:uppercase;
}

#discussion .white-background.bold {
    word-wrap:break-word;
}

.row,#metaval{
    width:100%;
}
.sec-form{cursor:pointer;}

.cke_textarea_inline{ border:1px solid #ccc; min-height:200px;padding:5px;}

.fa.fa-pencil-square-o{font-size:22px;}

.cke_editable p,#about-des p,#reward-des p,#contact-des p{
    font-weight: 600;
    font-size: inherit;
}


/* Custom Css Include Here
==========================*/
.total-sec{
    width:100%;
    float:left;
}
.total-sec p{
    font-size:18px;
    color:#4B4B4B;
    text-align:center;
    margin-bottom:10px;
}
.total-sec .icon-inner{
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    padding: 50px 50px;
}
.total-sec .icon-inner .fa{
    font-size:35px;
    margin-bottom:25px;
    color:#3498DB;
}

object#VideoPlayer {
    width: 100% !important;
}

a:hover{
    cursor:pointer !important;
    text-decoration:underline !important;
}

.fa.fa-trash-o{
    font-size:20px;
}
.jwlogo22 {
    position: absolute !important;
    right:20px;
    z-index:10000 !important;
}

.cke_textarea_inline {
    clear: both;
}

/*
removed by zia
.jwlogo,#VideoPlayer_logo{display:none !important;}*/
a{text-decoration:none !important;}

.grey-background{
    background: #f8f8f8;
}
.overflow_y{
    overflow-y: auto;
}
.padding5_10{
    padding: 10px 12px 5px 10px;
}
/*--------Sidebar Auto Block --------*/
.sidebar-autoblock .watch-sidebar-section{
    position: relative;
    z-index: 2;
    margin: 10px 0 15px 5px;
}
.sidebar-autoblock .watch-sidebar-section .checkbox-on-off{
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}
.sidebar-autoblock .watch-sidebar-section .autoplay-hovercard{
    display: inline-block;
    vertical-align: middle;
}
.autoplay-hovercard .autoplay-info-icon{
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -1px;
    background-size: auto;
    width: 16px;
    height: 16px;
}
.autoplay-hovercard .yt-uix-hovercard-content{
    display: none;
}
.autoplay-hovercard .autoplay-info-icon::hover .yt-uix-hovercard-content{
    display: block;
    padding: 20px;
    width: 235px;
    line-height: 1.3em;
}
.sidebar-autoblock .watch-sidebar-section .yt-uix-checkbox-on-off{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
    padding-right: 2px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.sidebar-autoblock .watch-sidebar-section .yt-uix-checkbox-on-off input[type=checkbox]{
    position: absolute;
    margin: 0;
    width: 37px;
    height: 15px;
    opacity: 0;
}
.background_checkbox_change{
    background-color: #167ac6 !important;
    padding-left: 13px;
}
.sidebar-autoblock .watch-sidebar-section .yt-uix-checkbox-on-off label[for=autoplay-checkbox]{
    display: inline-block;
    border: 1px solid transparent;
    height: 13px;
    width: 100%;
    background: #b8b8b8;
    border-radius: 20px;
}
.yt-uix-checkbox-on-off label[for=autoplay-checkbox] span.checked{
    width: 22px;
}
.yt-uix-checkbox-on-off .checked {
    text-align: center;
    line-height: 13px;
}
.yt-uix-checkbox-on-off label>* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    -moz-transition: width .1s;
    -webkit-transition: width .1s;
    transition: width .1s;
}
.yt-uix-checkbox-on-off label[for=autoplay-checkbox] span.toggle{
    background: #fbfbfb;
    width: 13px;
    border-radius: 13px;
}
.yt-uix-checkbox-on-off label[for=autoplay-checkbox] span.checked{
    width: 0;
}
.sidebar-autoblock  h4.watch-sidebar-head{
    margin: 0 5px 10px;
    font-size: 13px;
    color: #222;
    line-height: 1.3em;
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.sidebar-autoblock .watch-sidebar-body .video-list-item:last-child {
    padding-bottom: 15px;
}
.sidebar-autoblock .video-list-item:first-child {
    margin-bottom: 20px;
    min-height: 70px;
}
.sidebar-autoblock .video-list-item {
    position: relative;
    margin-bottom: 30px;
    min-height: 50px;
}
.sidebar-autoblock .line{
    border-top: 1px solid #eee;
    margin-bottom: 12px;
}
.sidebar-autoblock .related-list-item .content-wrapper {
    margin-left: 145px;
}
.sidebar-autoblock .video-list .video-list-item .title {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    display: block;
    font-size: 1.0833em;
    font-weight: normal;
    line-height: 1.2;
    color: #03c;
    max-height: 2.4em;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
}
.sidebar-autoblock .video-list .video-list-item .stat {
    color: #767676;
    font-size: 11px;
    display: block;
    color: #666;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
.sidebar-autoblock .video-list-item .yt-uix-simple-thumb-wrap {
    float: left;
    margin: 0 8px 0 0;
}
.sidebar-autoblock .yt-uix-simple-thumb-related {
    height: 68px;
    top: 5px;
}
.sidebar-autoblock .video-list-item .yt-uix-simple-thumb-wrap {
    position: absolute;
    overflow: hidden;
    display: inline-block;
}
.sidebar-autoblock .video-list-item .yt-uix-simple-thumb-wrap .dyn-file-sprite i.fa-download{
    display: none;
}
.sidebar-autoblock .video-list-item .content-wrapper .video-item-title{
    color: #000;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none !important;
}
.sidebar-autoblock .video-list-item .content-wrapper .video-item-title:hover{
    color: #167ac6;
}
li.video-list-item:first-child .file-wrapper{
    min-height: 75px;
}
li.video-list-item .file-wrapper{
    min-height: 65px;
}
li.video-list-item .file-wrapper span.yt-uix-simple-thumb-wrap{
    height: 130px;
}
.sidebar-autoblock .video-list-item .content-wrapper .video-item-des{
    font-size: 11px
}
.sidebar-autoblock .video-list-item .first-video{
    top: -50px;
}
a.close-lightbox{
    background: #0b4e9f;
    padding: 10px 20px;
    text-decoration: none !important;
    color: #fff;
    float: right;
    clear: both;
}
a.close-lightbox:hover{
    background: #0a448b;
    color: #fff;
    text-decoration: none !important;
}
.detail-title{
    margin-right: 5px;
}
.lightbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/fancybox_overlay.png) repeat;
    display: none;
    z-index: 2247483647;
}
.lightbox-back{
    background: url(../images/fancybox_overlay.png) repeat;
}
.lightbox .container {
    background: #fefefe;
    border: solid 1px #ddd;
    padding: 20px 30px;
    position: absolute;
    top: 50px;
    left: 30%;
    min-height: 50px;
    width: 380px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.lightbox .container ul.detail-info li{
    margin-bottom: 10px;
}
.lightbox ul.stat li{
    float: left;
    margin: 5px 10px 5px 0px;
    color:#888888;
    width: 145px;
    background: #e2e2e2;
}
.lightbox ul.stat li i.fa{
    padding:10px 20px;
}
.lightbox ul.stat li i.fa::before{
    margin-right: 5px;
}
.lightbox .container .dyn-file-sprite i.fa-download{
    display: none;
}
.img-represent{
    margin-bottom: 10px;
    text-align: center;
}
.img-represent img{
    text-align: center;
}
.img-represent h4{
    text-align: left;
}
#sortvideo-form i.fa-refresh{
    color: #3498db;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
.home .saic-wrapper {display:none;}
.sidebar-autoblock .showmore{
    text-align: center;
    border-top: 1px solid #e2e2e2;
    box-shadow: none;
    padding-top: 10px;
    margin-top: 40px;
}
.sidebar-autoblock .showmore a{
    text-decoration: none !important;
    color: #767676;
    cursor:pointer;
    text-transform: uppercase;
    font-size: 12px;
}
.sidebar-autoblock .showmore a:hover{
    color: #222;
}
.sidebar-autoblock .file_item{
    min-height: 120px !important;
}
.sidebar-autoblock .file_item .file_thumb{
    height: 170px !important;
}
.sidebar-autoblock li.video .content-wrapper{
    margin-left: 130px;
}
#uploadForm label.error{
    color: red;
    font-size: 12px;
}
.innermain-container{
    margin-bottom: -16px;
}
.amount{
    color: red;}
#oiopub-container {
   padding: 20px 0;
display: block;
    text-align: center;
     background-color: #F3F1E0;

}
#oiopub-container i {    font-style: italic;}
#oiopub-container a {text-decoration:   underline;}


#oiopub-container select{
-webkit-appearance: menulist;
box-sizing: border-box;
align-items: center;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
white-space: pre;
-webkit-rtl-ordering: logical;
color: black;
background-color: white;
cursor: default;
border-width: 1px;
border-style: solid;
border-color: initial;}
select , input{
    font-size: 10px;
}
select {height: 15px;}
#store .list-group .grid-group-item img.layout-2-thumb {     height: 135px; }
div.layout-title-box .layout-title {
    min-height: 45px;
}
select{height: 27px}

#store .col-xs-12.col-sm-4.col-md-3.col-lg-3.col-xl-2.post-1850.grid-group-item.changeStyleGrid.list-group-item.changeStyleList{
    max-height: 100%;
    min-height: 100% !important;
    height: auto !important;
}

#store .col-xs-12.col-sm-4.col-md-3.col-lg-3.col-xl-2.post-1818.grid-group-item.changeStyleGrid.list-group-item.changeStyleList{
    max-height: 100%;
    min-height: 100% !important;
    height: auto !important;
}
#store .changeStyleList {
    max-height: 100%;
    min-height: 100% !important;
    height: auto !important;
}

#store-form{    padding-bottom: 8px;}

.layout-title a {    color: black;}

.null_sold,.price-product-modal{    color: black;
    font-weight: 300;}
.stock-grid .tittle-h4 .fa.fa-smile-o{    font-size: 17px;
    padding-right: 5px;}

.stock-span-grid{    color: black;
    font-weight: 400;}

.other-image-product{
    max-width: 100px;
    max-height: 100px;
    width: 90px;
    height: 60px;
}

.single.single-post .flag_post.custom_btn{
    margin-right: initial;
}.single.single-post .video-heading{
  margin-left: 0px;
}
 .tittle-h4 .fgjieryhfe .onsale {
     background-color: #77a464;
     color: #fff;
     font-size: .857em;
     -webkit-font-smoothing: antialiased;
     left: 75em;
 }

 #dublicate-product{    font-weight: bold;
     margin-left: 15px;}
#products .layout-2-thumb.wp-post-image{
    width: 100%;
    height: 100%;    padding-bottom: 14px;
}


#store{
    background: #f8f8f8 !important;
}#store .cover-twoblocks{
    background: #f8f8f8 !important;
}