/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99999;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


.nav-container{
	background:#ee3224 url(../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #97332c;
	-webkit-box-shadow: 0px 0px 20px #97332c;
	box-shadow: 0px 0px 20px #97332c;
}

.nav-container .slicknav_btn{ background:#d8281b }

.sf-menu li:last-child{ border-right:none; }

/* Child Menu */
.sf-menu ul{ background:#ee3224; }
.sf-menu ul li{ border:none; }

.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	padding: 1em 2.2em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #FFFFFF;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}

.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
}


/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#f6584c url(../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#f6584c url(../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#f6584c url(../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#f6584c url(../images/nav-gloss.png) repeat-x top center }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
